<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Printed Village | Login</title>

<!-- favicon -->
<link rel="shortcut icon" href="image/fav.png" type="image/x-icon" />

<!-- Bootstrap Core CSS -->
<link href="{% static 'private/css/bootstrap.min.css' %}" rel="stylesheet">


<!-- Raleway google font -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600" rel="stylesheet">

<!-- font-awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Animation -->
<link href="{% static 'private/css/my-animation.css' %}" rel="stylesheet">

<!-- Slick slider -->
<link href="{% static 'private/css/slick.css' %}" rel="stylesheet">
<link href="{% static 'private/css/slick-theme.css' %}" rel="stylesheet">


<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'private/css/menu.css' %}"> <!-- Menu style -->
<link href="{% static 'private/css/image-sshover.css' %}" rel="stylesheet">
<link href="{% static 'private/css/login_signup.css' %}" rel="stylesheet">
<link href="{% static 'private/css/main.css' %}" rel="stylesheet">
<script src="{% static 'private/js/modernizr.js' %}"></script> <!-- Modernizr -->

</head>

<body>

<!-- Preloader starts here -->

<div class="se-pre-con"></div>

<style>
.no-js #loader { display: none;}
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background:url(static/private/image/loader.gif) center no-repeat #fff;}
</style>

<!-- Preloader ends here -->

<!-- Main Content Starts here -->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-1 prlzero">

    <!-- Top bar  -->


    <!-- <header class="header-area"> -->
      <div class="header-top-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 hidden-xs">
              <div class="header-top-left">
                <div class="language-usd">
                  <ul>
                    <li><a href="#">eng</a>
                      <ul class="submenu-mainmenu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">French</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Spanish</a></li>
                      </ul>
                    </li>
                    <li><a href="#">usd</a>
                      <ul class="submenu-mainmenu">
                        <li><a href="#">USD</a></li>
                        <li><a href="#">POUND</a></li>
                        <li><a href="#">EURO</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="header-top-right">
                <div class="account-cart">
                  <ul>
                    <li class="account"><a href="#">my account</a>
                      <ul class="submenu-mainmenu">
                        <li><a href="#">my bag</a></li>
                        <li><a href="#">checkout</a></li>
                        <li><a href="#">wishlist</a></li>
                      </ul>
                    </li>
                    <li class="login"><a href="#">login</a>
                      <ul class="submenu-mainmenu">
                        <li><a href="#">login or register</a></li>
                        <li class="login-button"><a href="#" class="ripplelink">login</a></li>
                        <li><a href="#">or</a></li>
                        <li class="creat-button"><a href="#" class="ripplelink">creat account</a></li>
                      </ul>
                    </li>
                    <li class="cart"><a href="#"><img src="{% static 'private/image/cart.png' %}" alt="cart"><p>2</p></a>
                      <ul class="submenu-mainmenu">
                        <li class="single-cart-item clearfix">
                          <span class="cart-img">
                            <a href="#"><img src="{% static 'private/image/cart-thumb2.png' %}" alt=""></a>
                          </span>
                          <span class="cart-info">
                            <a href="#">Lorem Ipsam...</a>
                            <span>2 x $104.99</span>
                            <a class="trash" href="#"><i class="fa fa-trash"></i></a>
                          </span>
                        </li>
                        <li>
                          <span class="sub-total-cart text-center">
                            SubTotal <span>$620</span>
                            <a href="checkout.html" class="view-cart ripplelink">Checkout</a>
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </header> -->



<header class="cd-main-header">
  <a class="cd-logo" href="#"><img src="{% static 'private/image/header-logo.png' %}" alt="Logo"></a>

  <ul class="cd-header-buttons">
    <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
    <li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
  </ul>
</header>

<main class="cd-main-content">

</main>

<div class="cd-overlay"></div>

<nav class="cd-nav">
  <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
    <li><a href="#">Home</a></li>
    <li class="has-children">
      <a href="#">Art</a>

      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>
        <li class="has-children">
          <a href="#">Accessories</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Clothing</a></li>
            <li class="see-all"><a href="#">All Accessories</a></li>
            <li class="has-children">
              <a href="#">Beanies</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Accessories</a></li>
                <li class="see-all"><a href="#">Lorem</a></li>
                <li><a href="#">Lorem &amp; ipsum</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem &amp; ipsum</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Lorem &amp; ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Accessories</a></li>
                <li class="see-all"><a href="#">Lorem &amp; ipsum</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Lorem</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Bottoms</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem</a></li>
            <li class="has-children">
              <a href="#">Lorem</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Men</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Tops</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li class="#">
              <a href="#">Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="has-children">
      <a href="#">Tech</a>

      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>
        <li class="has-children">
          <a href="#">Accessories</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li class="has-children">
              <a href="#">Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#"></a>Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Lorem ipsum &amp; Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Lorem ipsum</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li class="has-children">
              <a href="#">Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Men</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Tops</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li class="#">
              <a href="#">Lorem ipsum</a></a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Vests</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="has-children">
      <a href="#">Men</a>

      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">Lorem ipsum</a></li>
        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/m1.png' %}" alt="Product Image">
            <h3>Product #1</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/m2.png' %}" alt="Product Image">
            <h3>Product #2</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/m3.png' %}" alt="Product Image">
            <h3>Product #3</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/m4.png' %}" alt="Product Image">
            <h3>Product #4</h3>
          </a>
        </li>
      </ul>
    </li>


    <li class="has-children">
      <a href="#">Women</a>

      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">Browse Gallery</a></li>
        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/f1.png' %}" alt="Product Image">
            <h3>Product #1</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/f2.png' %}" alt="Product Image">
            <h3>Product #2</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/f3.png' %}" alt="Product Image">
            <h3>Product #3</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'private/image/img/f4.png' %}" alt="Product Image">
            <h3>Product #4</h3>
          </a>
        </li>
      </ul>
    </li>


    <li><a href="#">Blog</a></li>
    <li><a href="#">Discover</a></li>
  </ul>
</nav>

<div id="cd-search" class="cd-search">
  <form>
    <input type="search" placeholder="Search...">
  </form>
</div>

    <!-- Top Bar Ends here  -->


    <!--log in start here-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 account-login">
    	<div class="col-md-8 col-md-offset-2">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login-main">
    			  <h1>Login</h1>
    		  <div class="col-md-6 login-left">
    			<h2>Existing User</h2>

    			<form action="{% url 'accounts:adminlogin' %}" method="post">
					{% csrf_token %}

            <div class="field-container prlzero">
              <!--<input type="text" class="field" placeholder="Username" required="">-->
				{{ form.email }}
                {{form.errors.email | striptags }}
				{{ form.non_field_errors | striptags }}
              <label class="floating-label">Email</label>
            </div>
            <div class="field-container prlzero">
              <!--<input type="password" class="field" placeholder="Password" required="">-->
				{{ form.password }}
            {{form.errors.password}}
              <label class="floating-label">Password</label>
            </div>
    				<input type="submit" class="ripplelink hvr-shadow" value="Login">
    			</form>

    		  </div>
    		  <div class="col-md-6 login-right">
    		  	 <h3>New User? Create an Account</h3>
    		  	 <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system. and expound the actual teachings of the great.</p>
    		     <a href="signup.html" class="login-btn ripplelink hvr-shadow">Create an Account </a>
    		  </div>
    		  <div class="clearfix"> </div>
    		</div>
    	</div>
    </div>
    <!--log in end here-->


    <!-- Section 9 starts here  -->


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-8 pad-top-20 animatedParent prlzero" data-appear-top-offset='-200' id="contact">
      <div class="container">

        <section class="regular slider">

          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>

          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>

          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'private/image/dummy-client.png' %}">
            </div>

          </div>
        </section>

      </div>
    </div>

    <!-- Section 9 Ends here  -->

    <!-- Footer Starts here  -->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pv-footer pad-top-20 animatedParent prlzero">
      <div class="footer-middle-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
              <div class="footer-widget">
                <div class="footer-logo">
                  <img src="{% static 'private/image/foot-logo.png' %}" alt="foot-logo">
                </div>
                <div class="footer-address">
                  <p>28 Lorem Ipsaum, Street Name<br>New York City, USA</p>

                  <p>TELEPHONE- +56485 58456 585<br>
                    Email-lorem@ipsum.com</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-widget">
                  <h5>Services</h5>
                  <ul>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="about.html">Return Policy</a></li>
                    <li><a href="blog.html">Our Blog</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li class="hidden-sm"><a href="#">Terms &amp; Condition</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-2 hidden-sm col-xs-12">
                <div class="footer-widget">
                  <h5>Account</h5>
                  <ul>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget">
                  <h5>Get Social</h5>
                  <p>Connected with our social media and<br>
                    get updates</p>
                    <ul class="social-icon">
                      <li><a href="www.facebook.com" class="ripplelink"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="www.twitter.com" class="ripplelink"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="www.google-plus.com" class="ripplelink"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="www.instagram.com" class="ripplelink"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom-area">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="copyright">
                    <p>2017 ® All Rights Reserved <span><a href="#">Private Village</a></span>.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>

    <!-- Footer Ends here  -->

</div>

<!-- Main Content Ends here -->





<!-- Back to top starts here -->

<a href="#" id="return-to-top" class="ripplelink"><i class="fa fa-hand-o-up" aria-hidden="true"></i></a>

<!-- Back to top ends here -->



<!-- Jquery 2.2.4 -->
<script src="{% static 'private/js/jquery-2.2.4.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'private/js/bootstrap.min.js' %}"></script>

<!-- Animation -->
<script src="{% static 'private/js/my-animation.js' %}"></script>

<!-- Slick slider -->
<script src="{% static 'private/js/slick.js' %}"></script>


<!-- Custom js -->

<script src="{% static 'private/js/menu.js' %}"></script>

<script src="{% static 'private/js/main.js' %}"></script>

<!-- Nice Scroll -->
<script src="{% static 'private/js/jquery.nicescroll.min.js' %}"></script>

</body>

</html>
