{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block content %}

<!--<!DOCTYPE html>-->
<!--<html lang="en" >-->

<!--<head>-->

<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta name="description" content="">-->
<!--<meta name="author" content="">-->

<!--<title>Printed Village | Sign Up</title>-->

<!--&lt;!&ndash; favicon &ndash;&gt;-->
<!--<link rel="shortcut icon" href="image/fav.png" type="image/x-icon" />-->

<!--&lt;!&ndash; Bootstrap Core CSS &ndash;&gt;-->
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="css/bootstrap-dropdownhover.css" rel="stylesheet">-->



<!--&lt;!&ndash; Raleway google font &ndash;&gt;-->
<!--<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600" rel="stylesheet">-->

<!--&lt;!&ndash; font-awesome &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--&lt;!&ndash; Animation &ndash;&gt;-->
<!--<link href="css/animate.min.css" rel="stylesheet">-->

<!--&lt;!&ndash; Slick slider &ndash;&gt;-->
<!--<link href="css/slick.css" rel="stylesheet">-->
<!--<link href="css/slick-theme.css" rel="stylesheet">-->


<!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="css/menu.css"> &lt;!&ndash; Menu style &ndash;&gt;-->
<!--<link href="css/main.css" rel="stylesheet">-->
<!--<script src="js/modernizr.js"></script> &lt;!&ndash; Modernizr &ndash;&gt;-->

<!--</head>-->

<!--<body>-->

<!--&lt;!&ndash; Preloader starts here &ndash;&gt;-->

<!--<div class="se-pre-con"></div>-->

<!--<style>-->
<!--.no-js #loader { display: none;}-->
<!--.js #loader { display: block; position: absolute; left: 100px; top: 0;}-->
<!--.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background:url(image/loader.gif) center no-repeat #fff;}-->
<!--</style>-->

<!--&lt;!&ndash; Preloader ends here &ndash;&gt;-->

<!--&lt;!&ndash; Main Content Starts here &ndash;&gt;-->


<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-1 prlzero">-->

  <!--&lt;!&ndash; Top bar Starts Here  &ndash;&gt;-->

    <!--<div id="top">-->
      <!--<div class="container-fluid">-->
        <!--<ul class="nav nav-pills nav-top navbar-left">-->
          <!--<li class="dropdown langs">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp"><img src="image/flags/usa.gif" alt="English"></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
              <!--<li><a href="#"><img src="image/flags/et.gif" alt="ET"></a></li>-->
              <!--<li><a href="#"><img src="image/flags/fa.gif" alt="FA"></a></li>-->
              <!--<li><a href="#"><img src="image/flags/fr.gif" alt="FR"></a></li>-->
              <!--<li><a href="#"><img src="image/flags/ja.gif" alt="JA"></a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul class="nav nav-pills nav-top navbar-right">-->
          <!--<li class="dropdown my-account">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp">My Account</a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
              <!--<li><a href="#">My Dashboard</a></li>-->
              <!--<li><a href="#">Account Information</a></li>-->
              <!--<li><a href="#">Address Book</a></li>-->
              <!--<li><a href="#">My Orders</a></li>-->
              <!--<li><a href="#"><button class="nav-login-btn">LOGIN</button></a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li class="dropdown menu-shop">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp"><i class="fa fa-shopping-cart"></i> <span class="shopping-bag">3</span></a>-->
            <!--<div class="dropdown-menu">-->
              <!--<h3>Recently added item(s)</h3>-->
              <!--<ul class="list-unstyled list-thumbs-pro">-->
                <!--<li class="product">-->
                  <!--<div class="product-thumb-info">-->
                    <!--<a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>-->
                    <!--<div class="product-thumb-info-image">-->
                      <!--<a href="shop-product-detail1.html"><img alt="" width="60" src="image/product-8.jpg"></a>-->
                    <!--</div>-->

                    <!--<div class="product-thumb-info-content">-->
                      <!--<h4><a href="shop-product-detail2.html">Denim shirt</a></h4>-->
                      <!--<span class="item-cat"><small><a href="#">Jackets</a></small></span>-->
                      <!--<span class="price">29.99 USD</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="product">-->
                  <!--<div class="product-thumb-info">-->
                    <!--<a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>-->
                    <!--<div class="product-thumb-info-image">-->
                      <!--<a href="shop-product-detail1.html"><img alt="" width="60" src="image/product-9.jpg"></a>-->
                    <!--</div>-->

                    <!--<div class="product-thumb-info-content">-->
                      <!--<h4><a href="shop-product-detail2.html">Poplin shirt with fine pleated bands</a></h4>-->
                      <!--<span class="item-cat"><small><a href="#">Jackets</a></small></span>-->
                      <!--<span class="price">29.99 USD</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li class="product">-->
                  <!--<div class="product-thumb-info">-->
                    <!--<a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>-->
                    <!--<div class="product-thumb-info-image">-->
                      <!--<a href="shop-product-detail1.html"><img alt="" width="60" src="image/product-10.jpg"></a>-->
                    <!--</div>-->

                    <!--<div class="product-thumb-info-content">-->
                      <!--<h4><a href="shop-product-detail2.html">Contrasting shirt</a></h4>-->
                      <!--<span class="item-cat"><small><a href="#">Jackets</a></small></span>-->
                      <!--<span class="price">29.99 USD</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
              <!--<ul class="list-inline cart-subtotals text-right">-->
                <!--<li class="cart-subtotal"><strong>Subtotal</strong></li>-->
                <!--<li class="price"><span class="amount"><strong>$431</strong></span></li>-->
              <!--</ul>-->
              <!--<div class="cart-buttons text-right">-->
                <!--<button class="btn view-cart">View Cart</button>-->
                <!--<button class="btn checkout">Checkout</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->


  <!--&lt;!&ndash; Top bar Ends Here  &ndash;&gt;-->



<!--<header class="cd-main-header">-->
  <!--<a class="cd-logo" href="#"><img src="image/header-logo.png" alt="Logo"></a>-->

  <!--<ul class="cd-header-buttons">-->
    <!--<li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>-->
    <!--<li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>-->
  <!--</ul>-->
<!--</header>-->

<!--<main class="cd-main-content">-->

<!--</main>-->

<!--<div class="cd-overlay"></div>-->

<!--<nav class="cd-nav">-->
  <!--<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">-->
    <!--<li><a href="#">Home</a></li>-->
    <!--<li class="has-children">-->
      <!--<a href="#">Art</a>-->

      <!--<ul class="cd-secondary-nav is-hidden">-->
        <!--<li class="go-back"><a href="#">Menu</a></li>-->
        <!--<li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>-->
        <!--<li class="has-children">-->
          <!--<a href="#">Accessories</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Clothing</a></li>-->
            <!--<li class="see-all"><a href="#">All Accessories</a></li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Beanies</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Accessories</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem &amp; ipsum</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem &amp; ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Lorem &amp; ipsum</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Accessories</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem &amp; ipsum</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Lorem</a></li>-->
            <!--<li><a href="#">Lorem</a></li>-->
            <!--<li><a href="#">Lorem</a></li>-->
            <!--<li><a href="#">Lorem</a></li>-->
            <!--<li><a href="#">Lorem</a></li>-->
            <!--<li><a href="#">Lorem</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="has-children">-->
          <!--<a href="#">Bottoms</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem</a></li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Lorem</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="has-children">-->
          <!--<a href="#">Men</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="has-children">-->
          <!--<a href="#">Tops</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="#">-->
              <!--<a href="#">Lorem ipsum</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->

    <!--<li class="has-children">-->
      <!--<a href="#">Tech</a>-->

      <!--<ul class="cd-secondary-nav is-hidden">-->
        <!--<li class="go-back"><a href="#">Menu</a></li>-->
        <!--<li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>-->
        <!--<li class="has-children">-->
          <!--<a href="#">Accessories</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Lorem ipsum</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
                <!--<li class="see-all"><a href="#"></a>Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Lorem ipsum &amp; Lorem ipsum</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="has-children">-->
          <!--<a href="#">Lorem ipsum</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Lorem ipsum</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="has-children">-->
          <!--<a href="#">Men</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="has-children">-->
          <!--<a href="#">Tops</a>-->

          <!--<ul class="is-hidden">-->
            <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="see-all"><a href="#">Lorem ipsum</a></a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li><a href="#">Lorem ipsum</a></li>-->
            <!--<li class="#">-->
              <!--<a href="#">Lorem ipsum</a></a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Lorem ipsum</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
                <!--<li><a href="#">Lorem ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Vests</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->

    <!--<li class="has-children">-->
      <!--<a href="#">Men</a>-->

      <!--<ul class="cd-nav-gallery is-hidden">-->
        <!--<li class="go-back"><a href="#">Menu</a></li>-->
        <!--<li class="see-all"><a href="#" class="ripplelink">Lorem ipsum</a></li>-->
        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/m1.png" alt="Product Image">-->
            <!--<h3>Product #1</h3>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/m2.png" alt="Product Image">-->
            <!--<h3>Product #2</h3>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/m3.png" alt="Product Image">-->
            <!--<h3>Product #3</h3>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/m4.png" alt="Product Image">-->
            <!--<h3>Product #4</h3>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->


    <!--<li class="has-children">-->
      <!--<a href="#">Women</a>-->

      <!--<ul class="cd-nav-gallery is-hidden">-->
        <!--<li class="go-back"><a href="#">Menu</a></li>-->
        <!--<li class="see-all"><a href="#" class="ripplelink">Browse Gallery</a></li>-->
        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/f1.png" alt="Product Image">-->
            <!--<h3>Product #1</h3>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/f2.png" alt="Product Image">-->
            <!--<h3>Product #2</h3>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/f3.png" alt="Product Image">-->
            <!--<h3>Product #3</h3>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a class="cd-nav-item" href="#">-->
            <!--<img src="image/img/f4.png" alt="Product Image">-->
            <!--<h3>Product #4</h3>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->


    <!--<li><a href="#">Blog</a></li>-->
    <!--<li><a href="#">Discover</a></li>-->
  <!--</ul>-->
<!--</nav>-->

<!--<div id="cd-search" class="cd-search">-->
  <!--<form>-->
    <!--<input type="search" placeholder="Search...">-->
  <!--</form>-->
<!--</div>-->

    <!--&lt;!&ndash; Top Bar Ends here  &ndash;&gt;-->


    <!--sign in start here-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 category-container">

      <div class="container-fluid">
        <ol class="breadcrumb material_breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Collections</li>
        </ol>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-sub-title prlzero">
          <h1>Collections</h1>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
          <div class="row">
            {% for collection in collection_value %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-card">

                <div class="category-card-image">
                  {% for likeproduct in collection.product %}
                  <div class="col-xs-4 cat-in-box">
                    <img src="{% static likeproduct.image_filename %}" alt="Add Products"/>
                  </div>
                  {% endfor %}
                </div>



                <div class="category-card-content">
                  <a href="{% url 'myprofile:collectionlisting' collection.collection.id %}"><h4>{{ collection.collection.collection_name }}<span class="cat-count">(30)</span></h4></a>
                  <p>{{ collection.collection.collection_description }}</p>
                </div>

                <div class="category-card-action">
                  <a href="#" target="new_blank">Link</a>
                  <a href="#" target="new_blank">Link</a>
                </div>
              </div>
            </div>
            {% endfor %}



          </div>
        </div>














      </div>
    </div>
    <!--sign in end here-->


    <!--&lt;!&ndash; Section 9 starts here  &ndash;&gt;-->

    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">-->
      <!--<h1>Our Partners</h1>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-8 pad-top-20 animatedParent prlzero" data-appear-top-offset='-200' id="contact">-->
      <!--<div class="container">-->
        <!--<section class="regular slider">-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<div class="brand-image">-->
              <!--<img src="image/dummy-client.png">-->
            <!--</div>-->
          <!--</div>-->
        <!--</section>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Section 9 Ends here  &ndash;&gt;-->

    <!--&lt;!&ndash; Footer Starts here  &ndash;&gt;-->

    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pv-footer pad-top-20 animatedParent prlzero">-->
      <!--<div class="footer-middle-area">-->
        <!--<div class="container">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">-->
              <!--<div class="footer-widget">-->
                <!--<div class="footer-logo">-->
                  <!--<img src="image/foot-logo.png" alt="foot-logo">-->
                <!--</div>-->
                <!--<div class="footer-address">-->
                  <!--<p>28 Lorem Ipsaum, Street Name<br>New York City, USA</p>-->

                  <!--<p>TELEPHONE- +56485 58456 585<br>-->
                    <!--Email-lorem@ipsum.com</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">-->
                <!--<div class="footer-widget">-->
                  <!--<h5>Services</h5>-->
                  <!--<ul>-->
                    <!--<li><a href="about.html">About us</a></li>-->
                    <!--<li><a href="about.html">Return Policy</a></li>-->
                    <!--<li><a href="blog.html">Our Blog</a></li>-->
                    <!--<li><a href="contact.html">Contact Us</a></li>-->
                    <!--<li class="hidden-sm"><a href="#">Terms &amp; Condition</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-3 col-md-2 hidden-sm col-xs-12">-->
                <!--<div class="footer-widget">-->
                  <!--<h5>Account</h5>-->
                  <!--<ul>-->
                    <!--<li><a href="#">Your Account</a></li>-->
                    <!--<li><a href="checkout.html">Checkout</a></li>-->
                    <!--<li><a href="#">Login</a></li>-->
                    <!--<li><a href="#">Register</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">-->
                <!--<div class="footer-widget">-->
                  <!--<h5>Get Social</h5>-->
                  <!--<p>Connected with our social media and<br>-->
                    <!--get updates</p>-->
                    <!--<ul class="social-icon">-->
                      <!--<li><a href="www.facebook.com" class="ripplelink"><i class="fa fa-facebook"></i></a></li>-->
                      <!--<li><a href="www.twitter.com" class="ripplelink"><i class="fa fa-twitter"></i></a></li>-->
                      <!--<li><a href="www.google-plus.com" class="ripplelink"><i class="fa fa-google-plus"></i></a></li>-->
                      <!--<li><a href="www.instagram.com" class="ripplelink"><i class="fa fa-instagram"></i></a></li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="footer-bottom-area">-->
            <!--<div class="container">-->
              <!--<div class="row">-->
                <!--<div class="col-sm-6 col-xs-12">-->
                  <!--<div class="copyright">-->
                    <!--<p>2017 ® All Rights Reserved <span><a href="#">Private Village</a></span>.</p>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Footer Ends here  &ndash;&gt;-->

<!--</div>-->

<!--&lt;!&ndash; Main Content Ends here &ndash;&gt;-->





<!--&lt;!&ndash; Back to top starts here &ndash;&gt;-->

<!--<a href="#" id="return-to-top" class="ripplelink"><i class="fa fa-hand-o-up" aria-hidden="true"></i></a>-->

<!--&lt;!&ndash; Back to top ends here &ndash;&gt;-->



<!--&lt;!&ndash; Jquery 2.2.4 &ndash;&gt;-->
<!--<script src="js/jquery-2.2.4.min.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="js/bootstrap-dropdownhover.min.js"></script>-->

<!--&lt;!&ndash; Material UI &ndash;&gt;-->
<!--<script src="js/material.min.js"></script>-->
<!--<script src="js/material-kit.js"></script>-->

<!--&lt;!&ndash; Slick slider &ndash;&gt;-->
<!--<script src="js/slick.js"></script>-->


<!--&lt;!&ndash; Custom js &ndash;&gt;-->

<!--<script src="js/menu.js"></script>-->

<!--<script src="js/main.js"></script>-->

<!--&lt;!&ndash; Nice Scroll &ndash;&gt;-->
<!--<script src="js/jquery.nicescroll.min.js"></script>-->

<!--</body>-->

<!--</html>-->
{% endblock %}