{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/my-collection.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<style>


</style>


    <!-- My Collection Starts here-->


    <header class="cd-header">
      <h1>My Collection</h1>
    </header>

    <main class="cd-main-content-filter">
      <div class="cd-tab-filter-wrapper">
        <div class="my-collection-tab">
        </div> <!-- cd-tab-filter -->
      </div> <!-- cd-tab-filter-wrapper -->

      <section class="cd-gallery" style="background-color:#ccc;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
          <button class="post-btn ripplelink hvr-shadow trigger">NEW COLLECTION</button>
        </div>


        <!-- Modal -->
        <div class="modal-wrapper">
          <div class="modal">
            <div class="head">
              <h4>Add a Collection</h4>
              <a class="btn-close trigger" href="#">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
            </div>

            <div class="content">
              <form id="mycollection">
                {% csrf_token %}
              <div class="field">
                <label class="field-label">Collection name</label>
                <input type="text" id="id_collection_name" name="collection_name" class="field-input">
              </div>
              <span class="errors_collection_name"></span>

              <div class="field">
                <label  class="field-label">Description <small>(optional)</small></label>
                <input type="text" id="id_collection_description" name="collection_description" class="field-input">
              </div>

              <button type="button" class="post-btn ripplelink hvr-shadow collection">Create Collection</button>
              </form>
            </div>
          </div>
        </div>




        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
           {% for collection in collection_value %}
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="category-card">
              <div class="category-card-image">
               {% for likeproduct in collection.product %}
                <div class="col-xs-4 cat-in-box">
                  <img src="{% static likeproduct.image_filename %}" alt="Add Products"/>
                </div>
                {% endfor %}

              </div>
              <div class="category-card-content">
                <a href="{% url 'myprofile:collectionlisting' collection.all_collection.id %}"><h4>{{ collection.all_collection.collection_name }}<span class="cat-count">(30)</span></h4></a>
                <p>{{ collection.all_collection.collection_description }} </p>
              </div>
              <!--<div class="category-card-action">-->
                <!--<a href="#" target="new_blank">Link</a>-->
                <!--<a href="#" target="new_blank">Link</a>-->
              <!--</div>-->
            </div>
          </div>
          {% endfor %}

        </div>






        <!-- <div class="cd-fail-message">No results found</div> -->
      </section> <!-- cd-gallery -->

      <div class="cd-filter">
        <form>

          <div class="cd-filter-block">
             {% if user.is_authenticated %}
            <h5>{{ user.get_full_name }}</h5>
             {% endif %}
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                </div>
              </div>
            </div>
          </div>

          <!-- cd-filter-block -->





          <div class="cd-filter-block">
            <h4>Category</h4>
            <div class="cd-filter-content">
              <div class="col-lg-12 p-tb-10">
                <p>Art Prints</p>
              </div>
              <div class="col-lg-12 p-tb-10">
                <p>Framed Art Prints</p>
              </div>
              <div class="col-lg-12 p-tb-10">
                <p>T-shirts</p>
              </div>
              <div class="col-lg-12 p-tb-10">
                <p>Throw Pillows</p>
              </div>
              <div class="col-lg-12 p-tb-10">
                <p>Wall Clocks</p>
              </div>
            </div> <!-- cd-filter-content -->
          </div> <!-- cd-filter-block -->



          <div class="col-lg-12 p-tb-10 sofocomy">
            <p>Promoted (1)</p>
          </div>
          <div class="col-lg-12 p-tb-10 sofocomy">
            <p>Followers (1)</p>
          </div>
          <div class="col-lg-12 p-tb-10 sofocomy">
            <p>Collections (1)</p>
          </div>
        </form>

        <a href="#0" class="cd-close">CLOSE</a>
      </div> <!-- cd-filter -->

      <a href="#0" class="cd-filter-trigger">User</a>
    </main> <!-- cd-main-content-filter -->

    <div class="cd-filter-footer">

    </div>


    <!-- My Collection Ends Here-->

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/collection.js' %}"></script>

<script>
  $(document).on("click",".collection",function(){
  var data =  $('#mycollection').serialize();
  $('.error').hide();
    $.ajax({
       url:'{% url 'myprofile:mycollection' %}',
	   type:'POST',
       data:data,
       success:function (response){
          if (response.status==true)
          {
              console.log("Success");
              window.location.href = "{% url 'myprofile:mycollection' %}";
          }
          else{
              console.log(data);

              $.each(data, function( index, value )
              {

                $(".errors_"+index).show();
                $(".errors_"+index).html(value);
                console.log("#errors_"+index);
                $(".errors_"+index).delay(5500).hide(1500);
              });

          }
       },
       error:function(xhr,status,error)
        {
            console.log("error sorry !!!!!!!!");
        }
    });

})
</script>

<script type="text/javascript">

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#imagePreview').css('background-image', 'url('+e.target.result +')');
      $('#imagePreview').hide();
      $('#imagePreview').fadeIn(650);
    }
    reader.readAsDataURL(input.files[0]);
  }
}
$("#imageUpload").change(function() {
  readURL(this);
});

</script>


<script>
jQuery(document).ready(function($){
	//open/close lateral filter
	$('.cd-filter-trigger').on('click', function(){
		triggerFilter(true);
	});
	$('.cd-filter .cd-close').on('click', function(){
		triggerFilter(false);
	});

	function triggerFilter($bool) {
		var elementsToTrigger = $([$('.cd-filter-trigger'), $('.cd-filter'), $('.cd-tab-filter'), $('.cd-gallery')]);
		elementsToTrigger.each(function(){
			$(this).toggleClass('filter-is-visible', $bool);
		});
	}

	//mobile version - detect click event on filters tab
	var filter_tab_placeholder = $('.cd-tab-filter .placeholder a'),
		filter_tab_placeholder_default_value = 'Select',
		filter_tab_placeholder_text = filter_tab_placeholder.text();

	$('.cd-tab-filter li').on('click', function(event){
		//detect which tab filter item was selected
		var selected_filter = $(event.target).data('type');

		//check if user has clicked the placeholder item
		if( $(event.target).is(filter_tab_placeholder) ) {
			(filter_tab_placeholder_default_value == filter_tab_placeholder.text()) ? filter_tab_placeholder.text(filter_tab_placeholder_text) : filter_tab_placeholder.text(filter_tab_placeholder_default_value) ;
			$('.cd-tab-filter').toggleClass('is-open');

		//check if user has clicked a filter already selected
		} else if( filter_tab_placeholder.data('type') == selected_filter ) {
			filter_tab_placeholder.text($(event.target).text());
			$('.cd-tab-filter').removeClass('is-open');

		} else {
			//close the dropdown and change placeholder text/data-type value
			$('.cd-tab-filter').removeClass('is-open');
			filter_tab_placeholder.text($(event.target).text()).data('type', selected_filter);
			filter_tab_placeholder_text = $(event.target).text();

			//add class selected to the selected filter item
			$('.cd-tab-filter .selected').removeClass('selected');
			$(event.target).addClass('selected');
		}
	});

	//close filter dropdown inside lateral .cd-filter
	$('.cd-filter-block h4').on('click', function(){
		$(this).toggleClass('closed').siblings('.cd-filter-content').slideToggle(300);
	})

	//fix lateral filter and gallery on scrolling
	$(window).on('scroll', function(){
		(!window.requestAnimationFrame) ? fixGallery() : window.requestAnimationFrame(fixGallery);
	});

	function fixGallery() {
		var offsetTop = $('.cd-main-content-filter').offset().top,
			scrollTop = $(window).scrollTop();
		( scrollTop >= offsetTop ) ? $('.cd-main-content-filter').addClass('is-fixed') : $('.cd-main-content-filter').removeClass('is-fixed');
	}

	/************************************
		MitItUp filter settings
	*************************************/

	buttonFilter.init();
	$('.cd-gallery ul').mixItUp({
	    controls: {
	    	enable: false
	    },
	    callbacks: {
	    	onMixStart: function(){
	    		$('.cd-fail-message').fadeOut(200);
	    	},
	      	onMixFail: function(){
	      		$('.cd-fail-message').fadeIn(200);
	    	}
	    }
	});

	//search filtering
	//credits http://Test Field.io/edprats/pen/pzAdg
	var inputText;
	var $matching = $();

	var delay = (function(){
		var timer = 0;
		return function(callback, ms){
			clearTimeout (timer);
		    timer = setTimeout(callback, ms);
		};
	})();

	$(".cd-filter-content input[type='search']").keyup(function(){
	  	// Delay function invoked to make sure user stopped typing
	  	delay(function(){
	    	inputText = $(".cd-filter-content input[type='search']").val().toLowerCase();
	   		// Check to see if input field is empty
	    	if ((inputText.length) > 0) {
	      		$('.mix').each(function() {
		        	var $this = $(this);

		        	// add item to be filtered out if input text matches items inside the title
		        	if($this.attr('class').toLowerCase().match(inputText)) {
		          		$matching = $matching.add(this);
		        	} else {
		          		// removes any previously matched item
		          		$matching = $matching.not(this);
		        	}
	      		});
	      		$('.cd-gallery ul').mixItUp('filter', $matching);
	    	} else {
	      		// resets the filter to show all item if input is empty
	      		$('.cd-gallery ul').mixItUp('filter', 'all');
	    	}
	  	}, 200 );
	});
});

/*****************************************************
	MixItUp - Define a single object literal
	to contain all filter custom functionality
*****************************************************/
var buttonFilter = {
  	// Declare any variables we will need as properties of the object
  	$filters: null,
  	groups: [],
  	outputArray: [],
  	outputString: '',

  	// The "init" method will run on document ready and cache any jQuery objects we will need.
  	init: function(){
    	var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "buttonFilter" object so that we can share methods and properties between all parts of the object.

    	self.$filters = $('.cd-main-content-filter');
    	self.$container = $('.cd-gallery ul');

	    self.$filters.find('.cd-filters').each(function(){
	      	var $this = $(this);

		    self.groups.push({
		        $inputs: $this.find('.filter'),
		        active: '',
		        tracker: false
		    });
	    });

	    self.bindHandlers();
  	},

  	// The "bindHandlers" method will listen for whenever a button is clicked.
  	bindHandlers: function(){
    	var self = this;

    	self.$filters.on('click', 'a', function(e){
	      	self.parseFilters();
    	});
	    self.$filters.on('change', function(){
	      self.parseFilters();
	    });
  	},

  	parseFilters: function(){
	    var self = this;

	    // loop through each filter group and grap the active filter from each one.
	    for(var i = 0, group; group = self.groups[i]; i++){
	    	group.active = [];
	    	group.$inputs.each(function(){
	    		var $this = $(this);
	    		if($this.is('input[type="radio"]') || $this.is('input[type="checkbox"]')) {
	    			if($this.is(':checked') ) {
	    				group.active.push($this.attr('data-filter'));
	    			}
	    		} else if($this.is('select')){
	    			group.active.push($this.val());
	    		} else if( $this.find('.selected').length > 0 ) {
	    			group.active.push($this.attr('data-filter'));
	    		}
	    	});
	    }
	    self.concatenate();
  	},

  	concatenate: function(){
    	var self = this;

    	self.outputString = ''; // Reset output string

	    for(var i = 0, group; group = self.groups[i]; i++){
	      	self.outputString += group.active;
	    }

	    // If the output string is empty, show all rather than none:
	    !self.outputString.length && (self.outputString = 'all');

    	// Send the output string to MixItUp via the 'filter' method:
		if(self.$container.mixItUp('isLoaded')){
	    	self.$container.mixItUp('filter', self.outputString);
		}
  	}
};
</script>

<script>

$( document ).ready(function() {
  $('.trigger').on('click', function() {
    $('.modal-wrapper').toggleClass('open');
    $('.page-wrapper').toggleClass('blur-it');
    return false;
  });
});

</script>


<script>
jQuery(function($) {
  $('.field-input').focus(function(){
    $(this).parent().addClass('is-focused has-label');
  });

  $('.field-input').blur(function(){
    $parent = $(this).parent();
    if($(this).val() == ''){
      $parent.removeClass('has-label');
    }
    $parent.removeClass('is-focused');
  });

  $('.field-input').each(function(){
    if($(this).val() != ''){
      $(this).parent().addClass('has-label');
    }
  });
})
</script>
{% endblock %}

