<!DOCTYPE html>
{% load static %}
<html lang="en" >

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Printed Village | Sign Up</title>

<!-- favicon -->
<link rel="shortcut icon" href="{% static 'image/fav.png' %}" type="image/x-icon" />

<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-dropdownhover.css' %}" rel="stylesheet">



<!-- Raleway google font -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600" rel="stylesheet">

<!-- font-awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Animation -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

<!-- Slick slider -->
<link href="{% static 'css/slick.css' %}" rel="stylesheet">
<link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">


<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/menu.css' %}"> <!-- Menu style -->
<link href="{% static 'css/sicatsipro.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

</head>

<body>

<!-- Preloader starts here -->

<div class="se-pre-con"></div>

<style>
.no-js #loader { display: none;}
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background:url(static/image/loader.gif) center no-repeat #fff;}
</style>

<!-- Preloader ends here -->

<!-- Main Content Starts here -->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-1 prlzero">

  <!-- Top bar Starts Here  -->

    <div id="top">
      <div class="container-fluid">
        <ul class="nav nav-pills nav-top navbar-left">
          <li class="dropdown langs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp"><img src="{% static 'image/flags/usa.gif' %}" alt="English"></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><img src="{% static 'image/flags/et.gif' %}" alt="ET"></a></li>
              <li><a href="#"><img src="{% static 'image/flags/fa.gif' %}" alt="FA"></a></li>
              <li><a href="#"><img src="{% static 'image/flags/fr.gif' %}" alt="FR"></a></li>
              <li><a href="#"><img src="{% static 'image/flags/ja.gif' %}" alt="JA"></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav nav-pills nav-top navbar-right">
          <li class="dropdown my-account">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp">My Account</a>
            <ul class="dropdown-menu" role="menu">
               {% if request.user.is_authenticated %}
              <li><a href="#">My Dashboard</a></li>
              <li><a href="{% url 'myprofile:mycollection' %}">My Collection</a></li>
              <li><a href="#">Address Book</a></li>
              <li><a href="#">My Orders</a></li>
              <li><a href="{% url 'accounts:logout' %}"><button class="nav-login-btn">LOGOUT</button></a></li>
            {% else %}
            <li><a href="{% url 'accounts:adminlogin' %}"><button class="nav-login-btn">LOGIN</button></a></li>
            {% endif %}
            </ul>
          </li>
          <li class="dropdown menu-shop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp"><i class="fa fa-shopping-cart"></i> <span class="shopping-bag">3</span></a>
            <div class="dropdown-menu">
              <h3>Recently added item(s)</h3>
              <ul class="list-unstyled list-thumbs-pro">
                <li class="product">
                  <div class="product-thumb-info">
                    <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                    <div class="product-thumb-info-image">
                      <a href="shop-product-detail1.html"><img alt="" width="60" src="{% static 'image/product-8.jpg' %}"></a>
                    </div>

                    <div class="product-thumb-info-content">
                      <h4><a href="shop-product-detail2.html">Denim shirt</a></h4>
                      <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                      <span class="price">29.99 USD</span>
                    </div>
                  </div>
                </li>
                <li class="product">
                  <div class="product-thumb-info">
                    <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                    <div class="product-thumb-info-image">
                      <a href="shop-product-detail1.html"><img alt="" width="60" src="{% static 'image/product-9.jpg' %}"></a>
                    </div>

                    <div class="product-thumb-info-content">
                      <h4><a href="shop-product-detail2.html">Poplin shirt with fine pleated bands</a></h4>
                      <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                      <span class="price">29.99 USD</span>
                    </div>
                  </div>
                </li>
                <li class="product">
                  <div class="product-thumb-info">
                    <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                    <div class="product-thumb-info-image">
                      <a href="shop-product-detail1.html"><img alt="" width="60" src="{% static 'image/product-10.jpg' %}"></a>
                    </div>

                    <div class="product-thumb-info-content">
                      <h4><a href="shop-product-detail2.html">Contrasting shirt</a></h4>
                      <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                      <span class="price">29.99 USD</span>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="list-inline cart-subtotals text-right">
                <li class="cart-subtotal"><strong>Subtotal</strong></li>
                <li class="price"><span class="amount"><strong>$431</strong></span></li>
              </ul>
              <div class="cart-buttons text-right">
                <button class="btn view-cart">View Cart</button>
                <button class="btn checkout">Checkout</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


  <!-- Top bar Ends Here  -->



<header class="cd-main-header">
  <a class="cd-logo" href="#"><img src="{% static 'image/header-logo.png' %}" alt="Logo"></a>

  <ul class="cd-header-buttons">
    <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
    <li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
  </ul>
</header>

<main class="cd-main-content">

</main>

<div class="cd-overlay"></div>

<nav class="cd-nav">
  <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
    <li><a href="#">Home</a></li>
    <li class="has-children">
      <a href="#">Art</a>

      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>
        <li class="has-children">
          <a href="#">Shop Art</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Clothing</a></li>
            <li class="see-all"><a href="#">All Accessories</a></li>
            <!--<li class="has-children">-->
              <!--<a href="#">Beanies</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Accessories</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem &amp; ipsum</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem &amp; ipsum</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li class="has-children">-->
              <!--<a href="#">Lorem &amp; ipsum</a>-->

              <!--<ul class="is-hidden">-->
                <!--<li class="go-back"><a href="#">Accessories</a></li>-->
                <!--<li class="see-all"><a href="#">Lorem &amp; ipsum</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
                <!--<li><a href="#">Lorem</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            {% for catgery in category %}
            <li><a href="{% url 'myprofile:product_catlist' catgery.id %}">{{ catgery.categorys }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Bottoms</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem</a></li>
            <li class="has-children">
              <a href="#">Lorem</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Men</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Tops</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li class="#">
              <a href="#">Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="has-children">
      <a href="#">Tech</a>

      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>
        <li class="has-children">
          <a href="#">Accessories</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li class="has-children">
              <a href="#">Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#"></a>Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Lorem ipsum &amp; Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Lorem ipsum</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li class="has-children">
              <a href="#">Lorem ipsum</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Men</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="#">Tops</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#">Lorem ipsum</a></li>
            <li class="see-all"><a href="#">Lorem ipsum</a></a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li class="#">
              <a href="#">Lorem ipsum</a></a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#">Lorem ipsum</a></li>
                <li class="see-all"><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum</a></li>
              </ul>
            </li>
            <li><a href="#">Vests</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="has-children">
      <a href="#">Men</a>

      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">Lorem ipsum</a></li>
        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/m1.png' %}" alt="Product Image">
            <h3>Product #1</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/m2.png' %}" alt="Product Image">
            <h3>Product #2</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/m3.png' %}" alt="Product Image">
            <h3>Product #3</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/m4.png' %}" alt="Product Image">
            <h3>Product #4</h3>
          </a>
        </li>
      </ul>
    </li>


    <li class="has-children">
      <a href="#">Women</a>

      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a href="#">Menu</a></li>
        <li class="see-all"><a href="#" class="ripplelink">Browse Gallery</a></li>
        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/f1.png' %}" alt="Product Image">
            <h3>Product #1</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/f2.png' %}" alt="Product Image">
            <h3>Product #2</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/f3.png' %}" alt="Product Image">
            <h3>Product #3</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="#">
            <img src="{% static 'image/img/f4.png' %}" alt="Product Image">
            <h3>Product #4</h3>
          </a>
        </li>
      </ul>
    </li>


    <li><a href="#">Blog</a></li>
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'art_profile:add' %}">Sell</a></li>
      {% else %}
      <li><a href="#">Discover</a></li>
      {% endif %}
  </ul>
</nav>

<div id="cd-search" class="cd-search">
  <form>
    <input type="search" placeholder="Search...">
  </form>
</div>

    <!-- Top Bar Ends here  -->


    <!-- Single-category-single-product in start here-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 category-container">

      <div class="container-fluid">
        <ol class="breadcrumb material_breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'myprofile:allcollection' %}">Collections</a></li>
          <li><a href="#">Trending Tapestries</a></li>
          <li class="active">Tapestries</li>
        </ol>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">


            <div class="sicatsipro">
              <div class="container-fliud">
                <div class="wrapper row">
                  <div class="preview col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src="{% static object.image_filename %}" /></div>
                      <div class="tab-pane" id="pic-2"><img src="{% static 'image/400x252.png' %}" /></div>
                      <div class="tab-pane" id="pic-3"><img src="{% static 'image/400x252.png' %}" /></div>
                      <div class="tab-pane" id="pic-4"><img src="{% static 'image/400x252.png' %}" /></div>
                      <div class="tab-pane" id="pic-5"><img src="{% static 'image/400x252.png' %}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{% static object.image_filename %}" /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="{% static 'image/200X126.png' %}" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="{% static 'image/200X126.png' %}" /></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="{% static 'image/200X126.png' %}" /></a></li>
                      <li><a data-target="#pic-5" data-toggle="tab"><img src="{% static 'image/200X126.png' %}" /></a></li>
                    </ul>

                  </div>
                  <div class="details col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <h3 class="product-title">WALL TAPESTRY SMALL: 51" X 60"</h3>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="like-dislike">
                          <button class="button js-likeButton">
                            <div class="loader button--icon button--icon-loading js-likeLoadingIcon">Loading...</div>
                            <svg class="button--icon button--icon-like js-likeIcon" width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/></svg>
                            <span class="button--text js-likeText"></span>
                          </button>
                          <span class="js-numberOfLikes">{{ object.like_count }}</span> likes
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 user-bxx">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{% static 'image/100x100.png' %}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ object.title }}</h4>
                        		<p>by <a href="#">{{ object.designer }}</a></p>
                                <input type="hidden" id="productid" value="{{ object.id }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero" style="margin-top:20px;">
                      <h4 class="price">current price: <span>$180</span></h4>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <a class="btn btn-default btn-select">
                            <input type="hidden" class="btn-select-input"  name="" value="" />
                            <span class="btn-select-value">SELECT STYLE</span>
                            <!--<span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>-->
                            <i class="fa fa-chevron-down btn-select-arrow" aria-hidden="true"></i>
                            <ul>
                              <li>Option 1</li>
                              <li >Option 2</li>
                              <li>Option 3</li>
                              <li>Option 4</li>
                            </ul>
                          </a>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <a class="btn btn-default btn-select">
                            <input type="hidden" class="btn-select-input"  name="" value="" />
                            <span class="btn-select-value">SELECT SIZE</span>
                            <!--<span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>-->
                            <i class="fa fa-chevron-down btn-select-arrow" aria-hidden="true"></i>
                            <ul>
                              <li>Option 1</li>
                              <li >Option 2</li>
                              <li>Option 3</li>
                              <li>Option 4</li>
                            </ul>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <a class="btn btn-default btn-select">
                            <input type="hidden" class="btn-select-input" id="" name="" value="" />
                            <span class="btn-select-value">ADD TO COLLECTION</span>
                            <!--<span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>-->
                            <i class="fa fa-chevron-down btn-select-arrow" aria-hidden="true"></i>
                            <ul >
                              {% for collection in request.user.collection_detail.all %}
                              <li><i class="fa fa-plus-circle addtogreen addcollection" aria-hidden="true" id="{{ collection.id}}" ></i> {{ collection.collection_name }}</li>
                              {% endfor %}

                            </ul>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
                      <button class="btn add-to-cart" type="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>ADD TO CART</button>
                      <button class="btn add-to-wish" type="button">ADD TO WISHLIST</button>
                      <a href="{% url 'myprofile:shareart' %}"><button class="btn add-to-wish" type="button">PROMOTE ART. GET PAID.</button></a>
                      <div class="cart-footer-widget">
                        <ul class="cart-social-icon">
                          <li><a href="www.facebook.com" class="ripplelink"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="www.twitter.com" class="ripplelink"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="www.google-plus.com" class="ripplelink"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="www.instagram.com" class="ripplelink"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
                      <p class="vote"><strong>25% Off</strong> + Free Shipping on Wall Tapestries - Ends Tonight at Midnight PT!</p>
                      <p class="product-description">{{ object.description }}</p>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="item">
                              <div class="item-content-block tags">
                                {% for tag in object.tags.all %}
                                <a href="#">{{ tag }}</a>
                                {% endfor %}

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="action">

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-arrivals-bxx">
            <!--Item slider text-->
            <div class="">
              <div class="row" id="slider-text">
                <div class="col-md-6" >
                  <h2>ALSO AVAILABLE AS</h2>
                </div>
              </div>
            </div>

            <!-- Item slider-->
            <div class="">

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="carousel carousel-showmanymoveone slide" id="itemslider">
                    <div class="carousel-inner">

                      <div class="item active">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                          <a href="#"><img src="{% static 'image/200x200.png' %}" class="img-responsive center-block"></a>
                          <h4 class="text-center">Throw Pillow</h4>
                        </div>
                      </div>

                      <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                          <a href="#"><img src="{% static 'image/200x200.png' %}" class="img-responsive center-block"></a>
                          <h4 class="text-center">Throw Pillow</h4>
                        </div>
                      </div>

                      <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                          <a href="#"><img src="{% static 'image/200x200.png' %}" class="img-responsive center-block"></a>
                          <span class="badge">10%</span>
                          <h4 class="text-center">Throw Pillow</h4>
                        </div>
                      </div>

                      <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                          <a href="#"><img src="{% static 'image/200x200.png' %}" class="img-responsive center-block"></a>
                          <h4 class="text-center">Throw Pillow</h4>
                        </div>
                      </div>

                      <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                          <a href="#"><img src="{% static 'image/200x200.png' %}" class="img-responsive center-block"></a>
                          <h4 class="text-center">Throw Pillow</h4>
                        </div>
                      </div>

                      <div class="item">
                        <div class="col-xs-12 col-sm-6 col-md-2">
                          <a href="#"><img src="{% static 'image/200x200.png' %}" class="img-responsive center-block"></a>
                          <h4 class="text-center">Throw Pillow</h4>
                        </div>
                      </div>

                    </div>

                    <div id="slider-control">
                      <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
                      <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item slider end-->


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 socopro-box">
              <div class="tabs">
                <a class="tab" id="tab1" data-target="#tab1-content">Comments</a>
                <a class="tab" id="tab2" data-target="#tab2-content">Promoters</a>
                <span class="tab-active-bar"></span>
              </div>
              <div class="tab-contents pzero">
                <div id="tab1-content" class="tab-contentcp pzero" hidden>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="panel panel-white post panel-shadow">
                      <div class="post-heading">
                        <div class="pull-left image">
                          <img src="{% static 'image/100X100.png' %}" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                          <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                          </div>
                          <h6 class="text-muted time">1 minute ago</h6>
                        </div>
                      </div>
                      <div class="post-description">
                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                      </div>
                    </div>

                    <div class="panel panel-white post panel-shadow">
                      <div class="post-heading">
                        <div class="pull-left image">
                          <img src="{% static 'image/100X100.png' %}" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                          <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                          </div>
                          <h6 class="text-muted time">1 minute ago</h6>
                        </div>
                      </div>
                      <div class="post-description">
                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                      </div>
                    </div>

                    <div class="panel panel-white post panel-shadow">
                      <div class="post-heading">
                        <div class="pull-left image">
                          <img src="{% static 'image/100X100.png' %}" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                          <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                          </div>
                          <h6 class="text-muted time">1 minute ago</h6>
                        </div>
                      </div>
                      <div class="post-description">
                        <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                      </div>
                    </div>


                  </div>

                </div>
                <div id="tab2-content" class="tab-contentcp pzero" hidden>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="panel panel-default  panel--styled">
                        <div class="promoter-body">
                          <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <img class="img-responsive" src="{% static 'image/85x85.png' %}" alt=""/>
                            </div>
                            <div class="col-md-8">
                              <h5>Product Name</h5>
                              <p>5 Followers</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Single-category-single-product in end here-->


    <!-- Section 9 starts here  -->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">
      <h1>Our Partners</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-8 pad-top-20 animatedParent prlzero" data-appear-top-offset='-200' id="contact">
      <div class="container">
        <section class="regular slider">
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{5 static 'image/dummy-client.png' %}">
            </div>
          </div>
          <div>
            <div class="brand-image">
              <img src="{% static 'image/dummy-client.png' %}">
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Section 9 Ends here  -->

    <!-- Footer Starts here  -->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pv-footer pad-top-20 animatedParent prlzero">
      <div class="footer-middle-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
              <div class="footer-widget">
                <div class="footer-logo">
                  <img src="{% static 'image/foot-logo.png' %}" alt="foot-logo">
                </div>
                <div class="footer-address">
                  <p>28 Lorem Ipsaum, Street Name<br>New York City, USA</p>

                  <p>TELEPHONE- +56485 58456 585<br>
                    Email-lorem@ipsum.com</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-widget">
                  <h5>Services</h5>
                  <ul>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="about.html">Return Policy</a></li>
                    <li><a href="blog.html">Our Blog</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li class="hidden-sm"><a href="#">Terms &amp; Condition</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-2 hidden-sm col-xs-12">
                <div class="footer-widget">
                  <h5>Account</h5>
                  <ul>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget">
                  <h5>Get Social</h5>
                  <p>Connected with our social media and<br>
                    get updates</p>
                    <ul class="social-icon">
                      <li><a href="www.facebook.com" class="ripplelink"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="www.twitter.com" class="ripplelink"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="www.google-plus.com" class="ripplelink"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="www.instagram.com" class="ripplelink"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom-area">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="copyright">
                    <p>2017 ® All Rights Reserved <span><a href="#">Private Village</a></span>.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>

    <!-- Footer Ends here  -->

</div>

<!-- Main Content Ends here -->





<!-- Back to top starts here -->

<a href="#" id="return-to-top" class="ripplelink"><i class="fa fa-hand-o-up" aria-hidden="true"></i></a>

<!-- Back to top ends here -->



<!-- Jquery 2.2.4 -->
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-dropdownhover.min.js' %}"></script>

<!-- Material UI -->
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/material-kit.js' %}"></script>

<!-- Slick slider -->
<script src="{% static 'js/slick.js' %}"></script>


<!-- Custom js -->

<script src="{% static 'js/menu.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<!-- Nice Scroll -->
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>

<script>

$(document).on('click', '.addcollection', function (e) {
  e.preventDefault();
  var collectionid = this.id;
  console.log(collectionid);
  var productid =$("#productid").val();
  console.log(productid);
  $.ajax({
       url:'{% url 'myprofile:product' object.slug %}',
	   type:'POST',
       data:{method_type: "addcollection", collection_id: collectionid, product_id: productid, 'csrfmiddlewaretoken':'{{csrf_token}}'},
       success:function(data){
            console.log(data)
       },
       error:function(xhr,status,error)
        {
            console.log("error sorry !!!!!!!!");
        }
  });
});
$(document).ready(function () {
  $(".btn-select").each(function (e) {
    var value = $(this).find("ul li.selected").html();
    if (value != undefined) {
      $(this).find(".btn-select-input").val(value);
      $(this).find(".btn-select-value").html(value);
    }
  });
});

$(document).on('click', '.btn-select', function (e) {
  e.preventDefault();
  var ul = $(this).find("ul");
  if ($(this).hasClass("active")) {
    if (ul.find("li").is(e.target)) {
      var target = $(e.target);
      target.addClass("selected").siblings().removeClass("selected");
      var value = target.html();
      $(this).find(".btn-select-input").val(value);
      $(this).find(".btn-select-value").html(value);
    }
    ul.hide();
    $(this).removeClass("active");
  }
  else {
    $('.btn-select').not(this).each(function () {
      $(this).removeClass("active").find("ul").hide();
    });
    ul.slideDown(300);
    $(this).addClass("active");
  }
});

$(document).on('click', function (e) {
  var target = $(e.target).closest(".btn-select");
  if (!target.length) {
    $(".btn-select").removeClass("active").find("ul").hide();
  }
});

</script>

<script>

$(document).ready(function(){

  $('#itemslider').carousel({ interval: 3000 });

  $('.carousel-showmanymoveone .item').each(function(){
    var itemToClone = $(this);

    for (var i=1;i<6;i++) {
      itemToClone = itemToClone.next();

      if (!itemToClone.length) {
        itemToClone = $(this).siblings(':first');
      }

      itemToClone.children(':first-child').clone()
      .addClass("cloneditem-"+(i))
      .appendTo($(this));
    }
  });
});


</script>


<script>
$(document).ready(function(){
  $('.tab').on('click', function(){
    showTab($(this));
  });

  function showTab(tab){
    var tabBar = tab.parent().find('.tab-active-bar');
    tabBar.animate({
      left: parseInt(tab.position().left)+'px',
      width: parseInt(tab.innerWidth())+'px'
    });
    $('.tab-contentcp').slideUp().promise().done(function(){
      $(tab.data('target')).slideDown();
    });

  }

  showTab($('#tab1'));
});
</script>



<script>

(function() {

  var initialise = function() {
    $(".js-likeButton").on("click", onClickLikeButton);
  };

  var onClickLikeButton = function() {
    var $thisButton = $(this);
    var button = {
      $likeButton: $thisButton,
      $likeIcon: $thisButton.find(".js-likeIcon"),
      $loadingIcon: $thisButton.find(".js-likeLoadingIcon"),
      userHasLikedThisPost: $thisButton.hasClass("is-liked")
    };
    likeOrUnlikeSequence(button);
  };

  var likeOrUnlikeSequence = function(button) {
    var sendLikeRequest = likeRequest(button);
    button.$likeButton.prop("disabled", true);
    button.$likeButton.addClass("is-loading");
    return sendLikeRequest
    .then(postLikeSucceeded)
    .catch(postLikeFailed);
  }

  var likeRequest = function(button) {
    return new Promise(function(resolve, reject) {
      fake_ajax_response()
      .done(function likePostAjaxDone() {
        resolve(button);
      })
      .fail(function likePostAjaxFail() {
        reject(button)
      });
    });
  };

  var postLikeSucceeded = function(responses) {
    var button = responses;
    console.log(button);
    var $likesDisplay = button.$likeButton.siblings(".js-numberOfLikes")
    var numberOfLikes = $likesDisplay.text();

    if (button.userHasLikedThisPost) {
      numberOfLikes--;
      button.$likeButton.removeClass("is-liked");
    } else {
      numberOfLikes++;
      button.$likeButton.addClass("is-liked");
    }
    $likesDisplay.text(numberOfLikes);
    button.$likeButton.prop("disabled", false);
    button.$likeButton.removeClass("is-loading");
  };

  var postLikeFailed = function(button) {
    console.log("Like Failed");
    button.$likeButton.prop("disabled", false);
    button.$likeButton.removeClass("is-loading");
  };


  // TODO: remove this function when ajax call added
  function fake_ajax_response(response) {
    var deferred = $.Deferred();
    setTimeout(function() {
      deferred.resolve(response);
    }, Math.floor(400 + Math.random() * 2000));
    return deferred.promise();
  }

  initialise();

})();

</script>



</body>

</html>
