{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Section 2 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-2 prlzero">

  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
            <h3>INTRODUCING</h3>
            <h1>Cool new products</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
          </hgroup>
          <button class="btn btn-hero btn-lg ripplelink hvr-shadow" role="button">SHOP NOW</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <hgroup>
            <h3>INTRODUCING</h3>
            <h1>Cool new products</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
          </hgroup>
          <button class="btn btn-hero btn-lg ripplelink hvr-shadow" role="button">SHOP NOW</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
            <h3>INTRODUCING</h3>
            <h1>Cool new products</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
          </hgroup>
          <button class="btn btn-hero btn-lg ripplelink hvr-shadow" role="button">SHOP NOW</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Section 2 Ends here  -->

<!-- Section 3 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-3 animatedParent prlzero" data-appear-top-offset='-200'>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 black-in-mid prlzero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-container black-bg1 prlzero">
      <div class="vca">
        <div class="centered">
          <h2>Free Shipping</h2>
          <p>Free for all product</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 black-in-mid prlzero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-container black-bg2 prlzero">
      <div class="vca">
        <div class="centered">
          <h2>Money guarantee</h2>
  				<p>Money back guarantee</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 black-in-mid prlzero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-container black-bg3 prlzero">
      <div class="vca">
        <div class="centered">
          <h2>Safe shopping</h2>
  				<p>Enjoy safe shopping</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 black-in-mid prlzero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-container black-bg4 prlzero">
      <div class="vca">
        <div class="centered">
          <h2>online support</h2>
  				<p>24/7 we provide online support</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Section 3 Ends here  -->


<!-- Section 4 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-4 animatedParent prlzero" data-appear-top-offset='-200'>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 sec-4-gal my_flash sec-4-800 prlzero">
    <h2>Tote bags</h2>
    <figure><img src="{% static 'image/tote-bag.png' %}" class="img-responsive" /></figure>
  </div>
  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 prlzero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sec-4-gal my_flash pzero_1200">
        <h2>throw<br/>pillows</h2>
        <figure><img src="{% static 'image/beach-towel.png' %}" class="img-responsive gal-img"/></figure>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 sec-4-gal my_flash prlzero">
        <h2>Wall tapestries</h2>
        <figure><img src="{% static 'image/curtain.png' %}" class="img-responsive gal-img"/></figure>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gal-image-last-pad prlzero">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 sec-4-gal my_flash pzero_1200">
        <h2>Window curtains</h2>
        <figure><img src="{% static 'image/curtain.png' %}" class="img-responsive gal-img"/></figure>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sec-4-gal my_flash prlzero">
        <h2>Beach<br/>towels</h2>
        <figure><img src="{% static 'image/beach-towel.png' %}" class="img-responsive gal-img"/></figure>
      </div>
    </div>
  </div>
</div>

<!-- Section 4 Ends here  -->


<!-- Section 5 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-5 animatedParent prlzero" data-appear-top-offset='-200'>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">
    <h1>Featured products</h1>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Mugs</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/mug.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Phone<br />Cases</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/case.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sec-5-gal sec-5-665">
      <h2>Women</h2>
      <div class="hover01 column">
        <div>
          <figure><img src="{% static 'image/women.png' %}" class="img-responsive"/></figure>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 hidden-sec5 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>carry-all<br />pouches</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/pouch.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Mens<br />fashion</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/men.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 hidden-sec5 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Mugs</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/mug.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Phone<br />Cases</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/case.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>art<br />quarterly</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/art.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Art<br />Paints</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/paint.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>carry-all<br />pouches</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/pouch.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Mens<br />fashion</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/men.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 hidden-sec5 prlzero">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>art<br />quarterly</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/art.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 sec-5-gal prlzero">
        <h2>Art<br />Paints</h2>
        <div class="hover01 column">
          <div>
            <figure><img src="{% static 'image/paint.png' %}" class="img-responsive"/></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 5 Ends here  -->


<!-- Section 6 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-6 animatedParent prlzero" data-appear-top-offset='-200'>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">
    <h1>New Arrivals</h1>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 prlzero">
      <div class="hovereffect sec-6">
        <img src="{% static 'image/new-men.png' %}" class="img-responsive"/>
        <div class="overlay">
          <a class="info" href="#">link here</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 prlzero">
      <div class="hovereffect sec-6">
        <img src="{% static 'image/new-cup.png' %}" class="img-responsive"/>
        <div class="overlay">
          <a class="info" href="#">link here</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 prlzero">
      <div class="hovereffect sec-6">
        <img src="{% static 'image/new-tote.png' %}" class="img-responsive"/>
        <div class="overlay">
          <a class="info" href="#">link here</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 prlzero">
      <div class="hovereffect sec-6">
        <img src="{% static 'image/new-case.png' %}" class="img-responsive"/>
        <div class="overlay">
          <a class="info" href="#">link here</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 6 Ends here  -->


<!-- Section 7 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-7 animatedParent prlzero" data-appear-top-offset='-200'>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 shop-now-bg prlzero">
      <h1>cool new</br>product</br>this week</h1>
      <button class="shop-now-button ripplelink hvr-shadow">Shop Now</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 newsletter-box prlzero">
      <h1>newsletter</h1>
      <h6>Subscribe to our newsletter for special offer!</h6>
      <p>Type your E-maiil address</p>
      <button class="nsletter-button ripplelink hvr-shadow">Subscribe</button>
      <div class="checkbox">
        <label class="pad-l-zero">
          <input type="checkbox" value="">
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
          By Subscribing to our newsletter you agree to receive emails from us.
        </label>
      </div>
    </div>
  </div>
</div>


<!-- Section 7 Ends here  -->


<!-- Section 8 Starts here  -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-8 animatedParent prlzero" data-appear-top-offset='-200' id="contact">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">
    <h1>Featured Designers</h1>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 des-min-height des-1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6>Designer Spotlight</h6>
        <h2>Miranda</2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
          <a href="#"><button class="des-button ripplelink hvr-shadow">Read her Story</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 des-min-height des-2">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6>Designer Spotlight</h6>
        <h2>Christine</2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
          <a href="#"><button class="des-button ripplelink hvr-shadow">Read her Story</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 des-min-height des-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6>Designer Spotlight</h6>
        <h2>Ashley</2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
          <a href="#"><button class="des-button ripplelink hvr-shadow">Read her Story</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 des-min-height des-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6>Designer Spotlight</h6>
        <h2>Cathy</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
          <a href="#"><button class="des-button ripplelink hvr-shadow">Read her Story</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 8 Ends here  -->
{% endblock %}
    {% block extra_js %}
{% endblock %}
