{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Sell Starts here-->


    <header class="cd-header">
      <h1>Products</h1>
    </header>

    <main class="cd-main-content-filter">
      <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
          <ul class="cd-filters">
            <li class="placeholder">
              <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
            </li>
            <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
            <li class="filter" data-filter=".art"><a href="#0" data-type="art">Art</a></li>
            <li class="filter" data-filter=".home"><a href="#0" data-type="home">Home</a></li>
            <li class="filter" data-filter=".tech"><a href="#0" data-type="tech">Tech</a></li>
            <li class="filter" data-filter=".apparel"><a href="#0" data-type="apparel">Apparel</a></li>
          </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
      </div> <!-- cd-tab-filter-wrapper -->

      <section class="cd-gallery">
        <ul id="da-thumbs" class="da-thumbs">
          <li class="mix art option3">
            <a href=""><img src="{% static 'image/portfolio/1.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix tech option2">
            <a href=""><img src="{% static 'image/portfolio/2.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix art option1">
            <a href=""><img src="{% static 'image/portfolio/3.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix art option4">
            <a href=""><img src="{% static 'image/portfolio/4.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix art option2">
            <a href=""><img src="{% static 'image/portfolio/5.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix tech option3">
            <a href=""><img src="{% static 'image/portfolio/6.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix tech option1">
            <a href=""><img src="{% static 'image/portfolio/7.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix art option4">
            <a href=""><img src="{% static 'image/portfolio/8.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix tech option3">
            <a href=""><img src="{% static 'image/portfolio/1.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix art option4">
            <a href=""><img src="{% static 'image/portfolio/2.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix art option2">
            <a href=""><img src="{% static 'image/portfolio/3.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="mix tech option1">
            <a href=""><img src="{% static 'image/portfolio/4.png' %}" alt="Image 1">
              <div>
                <span>
                  Seems like your image file doesn't meet the requirements for this product. Click through to edit your image
                  placement or upload a new one. This won't affect other products currently featuring this design.
                  <button class="pro-up-edit-btn">Upload & Edit</button>
                </span>
              </div>
            </a>
          </li>
          <li class="gap"></li>
          <li class="gap"></li>
          <li class="gap"></li>
        </ul>
        <div class="cd-fail-message">No results found</div>
      </section> <!-- cd-gallery -->

      <div class="cd-filter">
        <form>
          <div class="cd-filter-block">
            <h4>EDIT INFO</h4>

            <div class="cd-filter-content">
              <div class="col-lg-12">
                <h3>{{request.session.title}}</h3>
              </div>
            </div> <!-- cd-filter-content -->
          </div> <!-- cd-filter-block -->

          <div class="cd-filter-block">
            <h4 ><span id="statuss">{{request.session.status}}</span></h4>
            <div class="cd-filter-content">
              <div class="col-lg-12">
                <button type="button" class="pub-butn ripplelink hvr-shadow publish_btn">PUBLISH</button>
              </div>
              <div class="col-lg-12 pub-des">
                <p>Please note, it can take up to 30 minutes for your post to appear in your shop.</p>
              </div>
            </div> <!-- cd-filter-content -->
          </div> <!-- cd-filter-block -->

          <div class="cd-filter-block">
            <h4>PRO TIPS</h4>

            <div class="cd-filter-content">
              <div class="col-lg-12 pro-tips">
                <h5>How do I set pricing for my products?</h5>
              </div>
              <div class="col-lg-12 pro-tips">
                <p>You can set pricing individually for any product with the  icon by clicking through to edit them.</p>
              </div>
            </div> <!-- cd-filter-content -->
          </div> <!-- cd-filter-block -->
        </form>

        <a href="#0" class="cd-close">CLOSE</a>
      </div> <!-- cd-filter -->

      <a href="#0" class="cd-filter-trigger">PUBLISH</a>
    </main> <!-- cd-main-content-filter -->

    <div class="cd-filter-footer">

    </div>


    <!-- Sell Ends Here-->

{% endblock %}
{% block extra_js %}
<script>
  $(document).on("click",".publish_btn",function(){
    $.ajax({
       url:'/profile/add-detail/',
	   type:'POST',
       data:{method_type: "save_design",'csrfmiddlewaretoken':'{{csrf_token}}'},
       success:function(data){
            console.log(data)
            $('#statuss').text('published');
            window.location.href = "{% url 'art_profile:all_products' %}";
       },
       error:function(xhr,status,error)
        {
            console.log("error sorry !!!!!!!!");
        }
    });

})
</script>
<script>

jQuery(document).ready(function($){
	//open/close lateral filter
	$('.cd-filter-trigger').on('click', function(){
		triggerFilter(true);
	});
	$('.cd-filter .cd-close').on('click', function(){
		triggerFilter(false);
	});

	function triggerFilter($bool) {
		var elementsToTrigger = $([$('.cd-filter-trigger'), $('.cd-filter'), $('.cd-tab-filter'), $('.cd-gallery')]);
		elementsToTrigger.each(function(){
			$(this).toggleClass('filter-is-visible', $bool);
		});
	}

	//mobile version - detect click event on filters tab
	var filter_tab_placeholder = $('.cd-tab-filter .placeholder a'),
		filter_tab_placeholder_default_value = 'Select',
		filter_tab_placeholder_text = filter_tab_placeholder.text();

	$('.cd-tab-filter li').on('click', function(event){
		//detect which tab filter item was selected
		var selected_filter = $(event.target).data('type');

		//check if user has clicked the placeholder item
		if( $(event.target).is(filter_tab_placeholder) ) {
			(filter_tab_placeholder_default_value == filter_tab_placeholder.text()) ? filter_tab_placeholder.text(filter_tab_placeholder_text) : filter_tab_placeholder.text(filter_tab_placeholder_default_value) ;
			$('.cd-tab-filter').toggleClass('is-open');

		//check if user has clicked a filter already selected
		} else if( filter_tab_placeholder.data('type') == selected_filter ) {
			filter_tab_placeholder.text($(event.target).text());
			$('.cd-tab-filter').removeClass('is-open');

		} else {
			//close the dropdown and change placeholder text/data-type value
			$('.cd-tab-filter').removeClass('is-open');
			filter_tab_placeholder.text($(event.target).text()).data('type', selected_filter);
			filter_tab_placeholder_text = $(event.target).text();

			//add class selected to the selected filter item
			$('.cd-tab-filter .selected').removeClass('selected');
			$(event.target).addClass('selected');
		}
	});

	//close filter dropdown inside lateral .cd-filter
	$('.cd-filter-block h4').on('click', function(){
		$(this).toggleClass('closed').siblings('.cd-filter-content').slideToggle(300);
	})

	//fix lateral filter and gallery on scrolling
	$(window).on('scroll', function(){
		(!window.requestAnimationFrame) ? fixGallery() : window.requestAnimationFrame(fixGallery);
	});

	function fixGallery() {
		var offsetTop = $('.cd-main-content-filter').offset().top,
			scrollTop = $(window).scrollTop();
		( scrollTop >= offsetTop ) ? $('.cd-main-content-filter').addClass('is-fixed') : $('.cd-main-content-filter').removeClass('is-fixed');
	}

	/************************************
		MitItUp filter settings
		More details:
		https://mixitup.kunkalabs.com/
		or:
		http://codepen.io/patrickkunka/
	*************************************/

	buttonFilter.init();
	$('.cd-gallery ul').mixItUp({
	    controls: {
	    	enable: false
	    },
	    callbacks: {
	    	onMixStart: function(){
	    		$('.cd-fail-message').fadeOut(200);
	    	},
	      	onMixFail: function(){
	      		$('.cd-fail-message').fadeIn(200);
	    	}
	    }
	});

	//search filtering
	//credits http://codepen.io/edprats/pen/pzAdg
	var inputText;
	var $matching = $();

	var delay = (function(){
		var timer = 0;
		return function(callback, ms){
			clearTimeout (timer);
		    timer = setTimeout(callback, ms);
		};
	})();

	$(".cd-filter-content input[type='search']").keyup(function(){
	  	// Delay function invoked to make sure user stopped typing
	  	delay(function(){
	    	inputText = $(".cd-filter-content input[type='search']").val().toLowerCase();
	   		// Check to see if input field is empty
	    	if ((inputText.length) > 0) {
	      		$('.mix').each(function() {
		        	var $this = $(this);

		        	// add item to be filtered out if input text matches items inside the title
		        	if($this.attr('class').toLowerCase().match(inputText)) {
		          		$matching = $matching.add(this);
		        	} else {
		          		// removes any previously matched item
		          		$matching = $matching.not(this);
		        	}
	      		});
	      		$('.cd-gallery ul').mixItUp('filter', $matching);
	    	} else {
	      		// resets the filter to show all item if input is empty
	      		$('.cd-gallery ul').mixItUp('filter', 'all');
	    	}
	  	}, 200 );
	});
});

/*****************************************************
	MixItUp - Define a single object literal
	to contain all filter custom functionality
*****************************************************/
var buttonFilter = {
  	// Declare any variables we will need as properties of the object
  	$filters: null,
  	groups: [],
  	outputArray: [],
  	outputString: '',

  	// The "init" method will run on document ready and cache any jQuery objects we will need.
  	init: function(){
    	var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "buttonFilter" object so that we can share methods and properties between all parts of the object.

    	self.$filters = $('.cd-main-content-filter');
    	self.$container = $('.cd-gallery ul');

	    self.$filters.find('.cd-filters').each(function(){
	      	var $this = $(this);

		    self.groups.push({
		        $inputs: $this.find('.filter'),
		        active: '',
		        tracker: false
		    });
	    });

	    self.bindHandlers();
  	},

  	// The "bindHandlers" method will listen for whenever a button is clicked.
  	bindHandlers: function(){
    	var self = this;

    	self.$filters.on('click', 'a', function(e){
	      	self.parseFilters();
    	});
	    self.$filters.on('change', function(){
	      self.parseFilters();
	    });
  	},

  	parseFilters: function(){
	    var self = this;

	    // loop through each filter group and grap the active filter from each one.
	    for(var i = 0, group; group = self.groups[i]; i++){
	    	group.active = [];
	    	group.$inputs.each(function(){
	    		var $this = $(this);
	    		if($this.is('input[type="radio"]') || $this.is('input[type="checkbox"]')) {
	    			if($this.is(':checked') ) {
	    				group.active.push($this.attr('data-filter'));
	    			}
	    		} else if($this.is('select')){
	    			group.active.push($this.val());
	    		} else if( $this.find('.selected').length > 0 ) {
	    			group.active.push($this.attr('data-filter'));
	    		}
	    	});
	    }
	    self.concatenate();
  	},

  	concatenate: function(){
    	var self = this;

    	self.outputString = ''; // Reset output string

	    for(var i = 0, group; group = self.groups[i]; i++){
	      	self.outputString += group.active;
	    }

	    // If the output string is empty, show all rather than none:
	    !self.outputString.length && (self.outputString = 'all');

    	// Send the output string to MixItUp via the 'filter' method:
		if(self.$container.mixItUp('isLoaded')){
	    	self.$container.mixItUp('filter', self.outputString);
		}
  	}
};
</script>


<script type="text/javascript">
  $(function() {

    $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

  });
</script>

<script>
;( function( $, window, undefined ) {

	'use strict';

	$.HoverDir = function( options, element ) {

		this.$el = $( element );
		this._init( options );

	};

	// the options
	$.HoverDir.defaults = {
		speed : 300,
		easing : 'ease',
		hoverDelay : 0,
		inverse : false
	};

	$.HoverDir.prototype = {

		_init : function( options ) {

			// options
			this.options = $.extend( true, {}, $.HoverDir.defaults, options );
			// transition properties
			this.transitionProp = 'all ' + this.options.speed + 'ms ' + this.options.easing;
			// support for CSS transitions
			this.support = Modernizr.csstransitions;
			// load the events
			this._loadEvents();

		},
		_loadEvents : function() {

			var self = this;

			this.$el.on( 'mouseenter.hoverdir, mouseleave.hoverdir', function( event ) {

				var $el = $( this ),
					$hoverElem = $el.find( 'div' ),
					direction = self._getDir( $el, { x : event.pageX, y : event.pageY } ),
					styleCSS = self._getStyle( direction );

				if( event.type === 'mouseenter' ) {

					$hoverElem.hide().css( styleCSS.from );
					clearTimeout( self.tmhover );

					self.tmhover = setTimeout( function() {

						$hoverElem.show( 0, function() {

							var $el = $( this );
							if( self.support ) {
								$el.css( 'transition', self.transitionProp );
							}
							self._applyAnimation( $el, styleCSS.to, self.options.speed );

						} );


					}, self.options.hoverDelay );

				}
				else {

					if( self.support ) {
						$hoverElem.css( 'transition', self.transitionProp );
					}
					clearTimeout( self.tmhover );
					self._applyAnimation( $hoverElem, styleCSS.from, self.options.speed );

				}

			} );

		},
		// credits : http://stackoverflow.com/a/3647634
		_getDir : function( $el, coordinates ) {

			// the width and height of the current div
			var w = $el.width(),
				h = $el.height(),

				// calculate the x and y to get an angle to the center of the div from that x and y.
				// gets the x value relative to the center of the DIV and "normalize" it
				x = ( coordinates.x - $el.offset().left - ( w/2 )) * ( w > h ? ( h/w ) : 1 ),
				y = ( coordinates.y - $el.offset().top  - ( h/2 )) * ( h > w ? ( w/h ) : 1 ),

				// the angle and the direction from where the mouse came in/went out clockwise (TRBL=0123);
				// first calculate the angle of the point,
				// add 180 deg to get rid of the negative values
				// divide by 90 to get the quadrant
				// add 3 and do a modulo by 4  to shift the quadrants to a proper clockwise TRBL (top/right/bottom/left) **/
				direction = Math.round( ( ( ( Math.atan2(y, x) * (180 / Math.PI) ) + 180 ) / 90 ) + 3 ) % 4;

			return direction;

		},
		_getStyle : function( direction ) {

			var fromStyle, toStyle,
				slideFromTop = { left : '0px', top : '-100%' },
				slideFromBottom = { left : '0px', top : '100%' },
				slideFromLeft = { left : '-100%', top : '0px' },
				slideFromRight = { left : '100%', top : '0px' },
				slideTop = { top : '0px' },
				slideLeft = { left : '0px' };

			switch( direction ) {
				case 0:
					// from top
					fromStyle = !this.options.inverse ? slideFromTop : slideFromBottom;
					toStyle = slideTop;
					break;
				case 1:
					// from right
					fromStyle = !this.options.inverse ? slideFromRight : slideFromLeft;
					toStyle = slideLeft;
					break;
				case 2:
					// from bottom
					fromStyle = !this.options.inverse ? slideFromBottom : slideFromTop;
					toStyle = slideTop;
					break;
				case 3:
					// from left
					fromStyle = !this.options.inverse ? slideFromLeft : slideFromRight;
					toStyle = slideLeft;
					break;
			};

			return { from : fromStyle, to : toStyle };

		},
		// apply a transition or fallback to jquery animate based on Modernizr.csstransitions support
		_applyAnimation : function( el, styleCSS, speed ) {

			$.fn.applyStyle = this.support ? $.fn.css : $.fn.animate;
			el.stop().applyStyle( styleCSS, $.extend( true, [], { duration : speed + 'ms' } ) );

		},

	};

	var logError = function( message ) {

		if ( window.console ) {

			window.console.error( message );

		}

	};

	$.fn.hoverdir = function( options ) {

		var instance = $.data( this, 'hoverdir' );

		if ( typeof options === 'string' ) {

			var args = Array.prototype.slice.call( arguments, 1 );

			this.each(function() {

				if ( !instance ) {

					logError( "cannot call methods on hoverdir prior to initialization; " +
					"attempted to call method '" + options + "'" );
					return;

				}

				if ( !$.isFunction( instance[options] ) || options.charAt(0) === "_" ) {

					logError( "no such method '" + options + "' for hoverdir instance" );
					return;

				}

				instance[ options ].apply( instance, args );

			});

		}
		else {

			this.each(function() {

				if ( instance ) {

					instance._init();

				}
				else {

					instance = $.data( this, 'hoverdir', new $.HoverDir( options, this ) );

				}

			});

		}

		return instance;

	};

} )( jQuery, window );


</script>
{% endblock %}
