
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--Sell starts here-->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-tb-20 animatedParent sell-box prlzero" data-appear-top-offset='-200'>

      <!--   Big container   -->
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <!-- Wizard container -->
            <div class="wizard-container">
              <div class="card wizard-card" data-color="red" id="wizard">
                <form role="form" name="myform" method="post" novalidate id="uploadart" enctype="multipart/form-data" action="{% url 'art_profile:add'%}">
                {% csrf_token %}
                  <div class="wizard-header">
                    <h3 class="wizard-title">
                      ARTIST STUDIO
                    </h3>
                    <h5>Premium Artwork | Printed Village</h5>
                  </div>
                  <div class="wizard-navigation">
                    <ul>
                      <li class="switch_li" data-attr="level_1"><a href="#details" data-toggle="tab">STEP 1</a></li>
                      <li class="switch_li" data-attr="level_2"><a href="#captain" data-toggle="tab">STEP 2</a></li>
                      <li class="switch_li" data-attr="level_3 "><a href="#description" data-toggle="tab">STEP 3</a></li>
                    </ul>
                  </div>

                  <div class="tab-content">
                    <div class="tab-pane" id="details">
                      <div class="row">
                        <h4 class="info-text">Ready to share your art with the world ? Drop in a PNG or JPG image file.</h4>
                        <div class="file-upload">
                          <input type="hidden" name="methods" value="addgallery"/>
                          <div class="image-upload-wrap">
                            {{ form.image_filename }}
                            <!--<input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />-->
                            <div class="drag-text">
                              <h1>Upload your artwork</h1>
                              <h6>Drag and drop a file or select add Image</h6>
                            </div>
                            <input type="hidden" name="level" id="level1" value="level1"/>
                          </div>
                          <div class="file-upload-content">
                            <img class="file-upload-image" src="" alt="your image" id="firstimage"/>
                            <div class="image-title-wrap">
                              <button type="button" onclick="removeUpload()" class="remove-image ripplelink hvr-shadow">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="captain">
                      <h4 class="info-text">Enter Your Info </h4>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group label-floating">
                            <label class="control-label">Title</label>
                            {{ form.title }}
                            <!--<input name="name" type="text" class="form-control">-->
                          </div>
                        </div>
                        <input type="hidden" name="art_id" id="artid" value=""/>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <img class="step2-image img-responsive" src="{% static 'image/new-tote.png' %}" id="uploade_image" width="266px" height="256px">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prlzero">
                            <div class="input-file-container">
                              <input class="input-file" id="my-file" name="image_filename" type="file">
                              <label tabindex="0" for="my-file" class="input-file-trigger">Upload New Image</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group label-floating">
                            <!--<label class="control-label">Select</label>-->
                            <!--<select class="form-control">-->
                              <!--<option disabled="" selected=""></option>-->
                              <!--<option value="Afghanistan"> Option 1 </option>-->
                              <!--<option value="Albania"> Option 2 </option>-->
                              <!--<option value="Algeria"> Option 3 </option>-->
                              <!--<option value="American Samoa"> Option 4 </option>-->
                              <!--<option value="...">...</option>-->
                            <!--</select>-->
                            {{ form.category }}
                          </div>
                          <input type="hidden" name="level" id="level2" value="level2"/>

                          <div class="form-group label-floating multitag">
                            <label class="control-label">Add Tag</label>
                           <select class="multi_select portfolio_dropdown" name="tags" id="id_tags"  multiple="multiple">
                            <option value="nodata">----</option>

                          </select>
                            <!--{{ form.tags }}-->
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Description</label>
                            <!--<input name="name" type="text" class="form-control">-->
                            {{ form.description }}
                          </div>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left prlzero">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="content_adult_type">
                              </label>
                              This post contains mature content
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left prlzero">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="copyright">
                              </label>
                              "I own all rights to this image, have valid rights to this image,
                              or am otherwise authorized to upload this image on the Society6 platform."
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="description">
                      <div class="row">
                        <h4 class="info-text"> Now You can Create products</h4>

                        <h4 class="info-text"> Click Finish to view Products</h4>

                      </div>
                    </div>
                  </div>
                  <div class="wizard-footer">
                    <div class="pull-right">
                      <input type='button' class='btn btn-next btn-fill btn-danger btn-wd ripplelink hvr-shadow next_form_btn'  name='next' value='Next' />
                      <input type='hidden' class='btn-next btn-fill  btn-wd ripplelink hvr-shadow '  name='next' value='Next' />
                      <a href="{% url 'art_profile:publish' %}"><input type='button' class='btn btn-finish btn-fill btn-danger btn-wd ripplelink hvr-shadow' name='finish' value='Finish' /></a>
                    </div>
                    <div class="pull-left">
                      <input type='button' class='btn btn-previous btn-fill btn-default btn-wd ripplelink hvr-shadow' name='previous' value='Previous' />
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </div> <!-- wizard container -->
          </div>
        </div> <!-- row -->
      </div> <!--  big container -->

    </div>


    <!--Sell ends here-->

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery.tokenize.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  <!-- step-1-->

<!--$(document).on("click","#level_1",function(e){-->
<!--alert("fis");-->
  <!--$('#uploadart').ajaxForm(function(data) {-->
	 <!--&lt;!&ndash;#var items = JSON.parse(data);&ndash;&gt;-->
	 <!--console.log(data);-->
	 <!--if (data.errors) {-->
		<!--$.each(data.errors, function(name, value) {-->
		   <!--$inputs.each(function(index, dom) {-->
		   <!--current_name = dom.name;-->
		   <!--if (current_name == name)-->
             <!--{-->
                <!--var $error_section = $(this).closest("div");-->
                <!--$error_section.append(" <span class=error>" + value + "</span>.");-->

            <!--}-->
	 <!--});-->
	 <!--});-->

	 <!--}else{-->
        <!--console.log(data)-->
        <!--$("#uploade_image").attr('src',data.imagepath)-->
        <!--$("#artid").val(data.artid)-->
		<!--$('#uploadart').val('True');-->
		<!--$(".btn-next").trigger("click");-->
       <!--$(".next_form_btn").attr("id",$('.nav-pills li.active').attr('data-attr'));-->
	 <!--}-->

  <!--});-->
<!--})-->

<!-- step-2-->

$(document).on("click","#level_2",function(e){
  var formData = new FormData();
  var other_data = $('#uploadart').serializeArray();
  $.each(other_data,function(key,input){
      formData.append(input.name,input.value);
  });
  formData.append("type", "level2");
  formData.append("secondimage", $("#uploade_image").attr('src'));
  formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
  $.ajax({
        url: "/profile/add-detail/",
        type: "POST",
        enctype: 'multipart/form-data',
        async: true,
        data:formData,
        processData: false,
        contentType: false,
        success: function (data, textStatus, jqXHR) {
            console.log(data);
           $("#uploade_image").attr('src', this.result);
           $("#firstimage").attr('src',this.result)
        }
    });
})
// upload image

$( document ).ready(function(){

        $("#my-file").on("change", function()
        {
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test( files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function(){ // set image data as background of div
                   $("#uploade_image").attr('src', this.result);
                   $("#firstimage").attr('src',this.result)
                }
            }
            console.log($("#uploade_image").attr('src'));
            console.log($("#uploade_image").val());

        });

    });

// ajax for tags
function categorys(elm){
  var id =$(elm).val();
  console.log(id);
   $.ajax({
       url:'/profile/add-detail/',
	   type:'POST',
       data:{method_type: "get_tags",id: id,'csrfmiddlewaretoken':'{{csrf_token}}'},
       success:function(data){
            $(".multitag").replaceWith(data.demo_data)
           //alert(JSON.stringify(data));
            $('#selecttag').each(function(){
            $(this).append('<img src="images/faq-q.png" alt="Question">');
    });
       }
   });
}

// multiselect

$('.multi_select').tokenize({
   displayDropdownOnFocus: true,
   placeholder: "Enter details ",
});

// get image src

$(document).on("click",'#level_1',function(){
  var images = $('#firstimage').attr("src");
  $(".step2-image").attr("src",images)
  $.ajax({
      url: "/profile/add-detail/",
      type: "POST",
      enctype: 'multipart/form-data',
      async: true,
      data: {
          'type': 'level1',
          'firstimage': images,
          'csrfmiddlewaretoken':'{{csrf_token}}'

      },
      success: function (data, textStatus, jqXHR) {
            console.log(data);
      }
  });

});



</script>

<script>
// File Upload
function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
  $('.image-upload-wrap').addClass('image-dropping');
});
$('.image-upload-wrap').bind('dragleave', function () {
  $('.image-upload-wrap').removeClass('image-dropping');
});
</script>

<script>
// get next button id

$(document).on("click",'.switch_li',function(){
  $(".next_form_btn").attr("id",$(this).attr('data-attr'));
})
$(document).on("click",'.next_form_btn',function(){
  $(".next_form_btn").attr("id",$('.nav-pills li.active').attr('data-attr'));

})
jQuery(document).ready(function($){
  //open/close lateral filter
  $(".next_form_btn").attr("id","level_1");
  $('.cd-filter-trigger').on('click', function(){
    triggerFilter(true);
  });
  $('.cd-filter .cd-close').on('click', function(){
    triggerFilter(false);
  });

  function triggerFilter($bool) {
    var elementsToTrigger = $([$('.cd-filter-trigger'), $('.cd-filter'), $('.cd-tab-filter'), $('.cd-gallery')]);
    elementsToTrigger.each(function(){
      $(this).toggleClass('filter-is-visible', $bool);
    });
  }

  //mobile version - detect click event on filters tab
  var filter_tab_placeholder = $('.cd-tab-filter .placeholder a'),
  filter_tab_placeholder_default_value = 'Select',
  filter_tab_placeholder_text = filter_tab_placeholder.text();

  $('.cd-tab-filter li').on('click', function(event){
    //detect which tab filter item was selected
    var selected_filter = $(event.target).data('type');

    //check if user has clicked the placeholder item
    if( $(event.target).is(filter_tab_placeholder) ) {
      (filter_tab_placeholder_default_value == filter_tab_placeholder.text()) ? filter_tab_placeholder.text(filter_tab_placeholder_text) : filter_tab_placeholder.text(filter_tab_placeholder_default_value) ;
      $('.cd-tab-filter').toggleClass('is-open');

      //check if user has clicked a filter already selected
    } else if( filter_tab_placeholder.data('type') == selected_filter ) {
      filter_tab_placeholder.text($(event.target).text());
      $('.cd-tab-filter').removeClass('is-open');

    } else {
      //close the dropdown and change placeholder text/data-type value
      $('.cd-tab-filter').removeClass('is-open');
      filter_tab_placeholder.text($(event.target).text()).data('type', selected_filter);
      filter_tab_placeholder_text = $(event.target).text();

      //add class selected to the selected filter item
      $('.cd-tab-filter .selected').removeClass('selected');
      $(event.target).addClass('selected');
    }
  });

  //close filter dropdown inside lateral .cd-filter
  $('.cd-filter-block h4').on('click', function(){
    $(this).toggleClass('closed').siblings('.cd-filter-content').slideToggle(300);
  })

  //fix lateral filter and gallery on scrolling
  $(window).on('scroll', function(){
    (!window.requestAnimationFrame) ? fixGallery() : window.requestAnimationFrame(fixGallery);
  });

  function fixGallery() {
    var offsetTop = $('.cd-main-content-filter').offset().top,
    scrollTop = $(window).scrollTop();
    ( scrollTop >= offsetTop ) ? $('.cd-main-content-filter').addClass('is-fixed') : $('.cd-main-content-filter').removeClass('is-fixed');
  }

  /************************************
  MitItUp filter settings
  *************************************/

  buttonFilter.init();
  $('.cd-gallery ul').mixItUp({
    controls: {
      enable: false
    },
    callbacks: {
      onMixStart: function(){
        $('.cd-fail-message').fadeOut(200);
      },
      onMixFail: function(){
        $('.cd-fail-message').fadeIn(200);
      }
    }
  });

  //search filtering
  //credits http://codepen.io/edprats/pen/pzAdg
  var inputText;
  var $matching = $();

  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  $(".cd-filter-content input[type='search']").keyup(function(){
    // Delay function invoked to make sure user stopped typing
    delay(function(){
      inputText = $(".cd-filter-content input[type='search']").val().toLowerCase();
      // Check to see if input field is empty
      if ((inputText.length) > 0) {
        $('.mix').each(function() {
          var $this = $(this);

          // add item to be filtered out if input text matches items inside the title
          if($this.attr('class').toLowerCase().match(inputText)) {
            $matching = $matching.add(this);
          } else {
            // removes any previously matched item
            $matching = $matching.not(this);
          }
        });
        $('.cd-gallery ul').mixItUp('filter', $matching);
      } else {
        // resets the filter to show all item if input is empty
        $('.cd-gallery ul').mixItUp('filter', 'all');
      }
    }, 200 );
  });
});

/*****************************************************
MixItUp - Define a single object literal
to contain all filter custom functionality
*****************************************************/
var buttonFilter = {
  // Declare any variables we will need as properties of the object
  $filters: null,
  groups: [],
  outputArray: [],
  outputString: '',

  // The "init" method will run on document ready and cache any jQuery objects we will need.
  init: function(){
    var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "buttonFilter" object so that we can share methods and properties between all parts of the object.

    self.$filters = $('.cd-main-content-filter');
    self.$container = $('.cd-gallery ul');

    self.$filters.find('.cd-filters').each(function(){
      var $this = $(this);

      self.groups.push({
        $inputs: $this.find('.filter'),
        active: '',
        tracker: false
      });
    });

    self.bindHandlers();
  },

  // The "bindHandlers" method will listen for whenever a button is clicked.
  bindHandlers: function(){
    var self = this;

    self.$filters.on('click', 'a', function(e){
      self.parseFilters();
    });
    self.$filters.on('change', function(){
      self.parseFilters();
    });
  },

  parseFilters: function(){
    var self = this;

    // loop through each filter group and grap the active filter from each one.
    for(var i = 0, group; group = self.groups[i]; i++){
      group.active = [];
      group.$inputs.each(function(){
        var $this = $(this);
        if($this.is('input[type="radio"]') || $this.is('input[type="checkbox"]')) {
          if($this.is(':checked') ) {
            group.active.push($this.attr('data-filter'));
          }
        } else if($this.is('select')){
          group.active.push($this.val());
        } else if( $this.find('.selected').length > 0 ) {
          group.active.push($this.attr('data-filter'));
        }
      });
    }
    self.concatenate();
  },

  concatenate: function(){
    var self = this;

    self.outputString = ''; // Reset output string

    for(var i = 0, group; group = self.groups[i]; i++){
      self.outputString += group.active;
    }

    // If the output string is empty, show all rather than none:
    !self.outputString.length && (self.outputString = 'all');

    // Send the output string to MixItUp via the 'filter' method:
    if(self.$container.mixItUp('isLoaded')){
      self.$container.mixItUp('filter', self.outputString);
    }
  }
};
</script>

<script>
function bindClose()
{
  $('.tagclose').unbind('click').click(function(){
    li=$(this).parent();
    li.remove();
  });
  $('.tagclose').unbind('mouseover').mouseover(function()
  {
    $(this).parent().addClass('tagitemover');
    $(this).unbind('mouseleave').mouseleave(function()
    {
      $(this).parent().removeClass('tagitemover');
    });
  });
}

$('.taginput').keydown(function(e){
  var text=$(this).val();
  if (e.which==8 && text.length==0){
    $(this).parent().prev('.tagitem').remove();
  }
  if (e.which==32 || e.which==13 || e.which==188 || e.which==9)
  {
    if (e.which==188 || e.which==9)
    {
      e.preventDefault();
    }
    $(this).parent().before('<div class="tagitem"><div class="tagtext">'+text+'</div><div class="tagclose">x</div>			</div>');
    $(this).val('');
    bindClose();
  }
});

function addTags(inp,tagstr)
{
  tagstr=tagstr.replace(/,/g," ");
  var tags=tagstr.split(' ');
  for(tag in tags){
    $(inp).parent().before('<div class="tagitem"><div class="tagtext">'+tags[tag]+'</div><div class="tagclose">x</div></div>');
  }
}


$('.taginput').each(function()
{
  $(this).wrap('<div class="tagholder"></div>');
  $(this).wrap('<div class="taginputholder"></div');
  $(this).focus();
});

addTags('#tag1','one two three');


</script>


<script>
document.querySelector("html").classList.add('js');
preventDefault(e);

var fileInput  = document.querySelector( ".input-file" ),
button     = document.querySelector( ".input-file-trigger" ),
the_return = document.querySelector(".file-return");

button.addEventListener( "keydown", function( event ) {
  if ( event.keyCode == 13 || event.keyCode == 32 ) {
    fileInput.focus();
  }
});
button.addEventListener( "click", function( event ) {
  fileInput.focus();
  return false;
});
fileInput.addEventListener( "change", function( event ) {
  the_return.innerHTML = this.value;
});
</script>

{% endblock %}

