

  <!DOCTYPE html>
  {% load static %}

<html lang="en" >

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Printed Village | Home</title>

<!-- favicon -->
<link rel="shortcut icon" href="{% static 'image/fav.png' %}" type="image/x-icon" />

<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-dropdownhover.css' %}" rel="stylesheet">

<!-- Raleway google font -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600" rel="stylesheet">

<!-- font-awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Animation -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tokenize.css' %}" rel="stylesheet">
<!-- Slick slider -->
<link href="{% static 'css/slick.css' %}" rel="stylesheet">
<link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
<link href="{% static 'css/filter.css' %}" rel="stylesheet" />

<!-- Custom CSS -->
  <link href="{% static 'css/sell.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/menu.css' %}"> <!-- Menu style -->
<link href="{% static 'css/login_signup.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
 {% block extra_css %}
    {% endblock %}
<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

</head>

<body>

<!-- Preloader starts here -->

<div class="se-pre-con"></div>

<style>
.no-js #loader { display: none;}
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background:url(static/image/loader.gif) center no-repeat #fff;}
</style>

<!-- Preloader ends here -->

<!-- Main Content Starts here -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-1 prlzero">

<!-- Top bar Starts Here  -->

  <div id="top">
    <div class="container-fluid">
      <ul class="nav nav-pills nav-top navbar-left">
        <li class="dropdown langs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp"><img src="{% static 'image/flags/usa.gif' %}" alt="English"></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><img src="{% static 'image/flags/et.gif' %}" alt="ET"></a></li>
            <li><a href="#"><img src="{% static 'image/flags/fa.gif' %}" alt="FA"></a></li>
            <li><a href="#"><img src="{% static 'image/flags/fr.gif' %}" alt="FR"></a></li>
            <li><a href="#"><img src="{% static 'image/flags/ja.gif' %}" alt="JA"></a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-pills nav-top navbar-right">
        <li class="dropdown my-account">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp">My Account</a>
          <ul class="dropdown-menu" role="menu">
            {% if request.user.is_authenticated %}
            <li><a href="#">My Dashboard</a></li>
            <li><a href="{% url 'myprofile:mycollection' %}">My Collection</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="{% url 'accounts:logout' %}"><button class="nav-login-btn">LOGOUT</button></a></li>
            {% else %}
            <li><a href="{% url 'accounts:adminlogin' %}"><button class="nav-login-btn">LOGIN</button></a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown menu-shop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="fadeInUp"><i class="fa fa-shopping-cart"></i> <span class="shopping-bag">3</span></a>
          <div class="dropdown-menu">
            <h3>Recently added item(s)</h3>
            <ul class="list-unstyled list-thumbs-pro">
              <li class="product">
                <div class="product-thumb-info">
                  <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                  <div class="product-thumb-info-image">
                    <a href="shop-product-detail1.html"><img alt="" width="60" src="{% static 'image/product-8.jpg' %}"></a>
                  </div>

                  <div class="product-thumb-info-content">
                    <h4><a href="shop-product-detail2.html">Denim shirt</a></h4>
                    <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                    <span class="price">29.99 USD</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product-thumb-info">
                  <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                  <div class="product-thumb-info-image">
                    <a href="shop-product-detail1.html"><img alt="" width="60" src="{% static 'image/product-9.jpg' %}"></a>
                  </div>

                  <div class="product-thumb-info-content">
                    <h4><a href="shop-product-detail2.html">Poplin shirt with fine pleated bands</a></h4>
                    <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                    <span class="price">29.99 USD</span>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product-thumb-info">
                  <a href="#" class="product-remove"><i class="fa fa-trash-o"></i></a>
                  <div class="product-thumb-info-image">
                    <a href="shop-product-detail1.html"><img alt="" width="60" src="{% static 'image/product-10.jpg' %}"></a>
                  </div>

                  <div class="product-thumb-info-content">
                    <h4><a href="shop-product-detail2.html">Contrasting shirt</a></h4>
                    <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                    <span class="price">29.99 USD</span>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="list-inline cart-subtotals text-right">
              <li class="cart-subtotal"><strong>Subtotal</strong></li>
              <li class="price"><span class="amount"><strong>$431</strong></span></li>
            </ul>
            <div class="cart-buttons text-right">
              <button class="btn view-cart">View Cart</button>
              <button class="btn checkout">Checkout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


<!-- Top bar Ends Here  -->

<!-- Main Nav Starts here -->
  <header class="cd-main-header">
    <a class="cd-logo" href="#"><img src="{% static 'image/header-logo.png' %}" alt="Logo"></a>

    <ul class="cd-header-buttons">
      <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
      <li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
    </ul>
  </header>

  <main class="cd-main-content">

  </main>

  <div class="cd-overlay"></div>

  <nav class="cd-nav">
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
      <li><a href="#">Home</a></li>
      <li class="has-children">
        <a href="#">Art</a>

        <ul class="cd-secondary-nav is-hidden">
          <li class="go-back"><a href="#">Menu</a></li>
          <li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>
          <li class="has-children">
            <a href="#">Shop Art</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Clothing</a></li>
              <li class="see-all"><a href="#">All Accessories</a></li>
              <!--<li class="has-children">-->
                <!--<a href="#">Beanies</a>-->

                <!--<ul class="is-hidden">-->
                  <!--<li class="go-back"><a href="#">Accessories</a></li>-->
                  <!--<li class="see-all"><a href="#">Lorem</a></li>-->
                  <!--<li><a href="#">Lorem &amp; ipsum</a></li>-->
                  <!--<li><a href="#">Lorem</a></li>-->
                  <!--<li><a href="#">Lorem &amp; ipsum</a></li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li class="has-children">-->
                <!--<a href="#">Lorem &amp; ipsum</a>-->

                <!--<ul class="is-hidden">-->
                  <!--<li class="go-back"><a href="#">Accessories</a></li>-->
                  <!--<li class="see-all"><a href="#">Lorem &amp; ipsum</a></li>-->
                  <!--<li><a href="#">Lorem</a></li>-->
                  <!--<li><a href="#">Lorem</a></li>-->
                  <!--<li><a href="#">begin</a></li>-->
                <!--</ul>-->
              <!--</li>-->
              {% for catgery in category %}
              <li><a href="{% url 'myprofile:product_catlist' catgery.id %}">{{ catgery.categorys }}</a></li>

              {% endfor %}
            </ul>
          </li>

          <li class="has-children">
            <a href="#">Bottoms</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem</a></li>
              <li class="has-children">
                <a href="#">Lorem</a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#">Lorem ipsum</a></li>
                  <li class="see-all"><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                </ul>
              </li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>

          <li class="has-children">
            <a href="#">Men</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>

          <li class="has-children">
            <a href="#">Tops</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li class="#">
                <a href="#">Lorem ipsum</a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#">Lorem ipsum</a></li>
                  <li class="see-all"><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                </ul>
              </li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="has-children">
        <a href="#">Tech</a>

        <ul class="cd-secondary-nav is-hidden">
          <li class="go-back"><a href="#">Menu</a></li>
          <li class="see-all"><a href="#" class="ripplelink">All Lorem Ipsum</a></li>
          <li class="has-children">
            <a href="#">Accessories</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></li>
              <li class="has-children">
                <a href="#">Lorem ipsum</a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#">Lorem ipsum</a></li>
                  <li class="see-all"><a href="#"></a>Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Lorem ipsum &amp; Lorem ipsum</a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#">Lorem ipsum</a></li>
                  <li class="see-all"><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                </ul>
              </li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>

          <li class="has-children">
            <a href="#">Lorem ipsum</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li class="has-children">
                <a href="#">Lorem ipsum</a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#">Lorem ipsum</a></li>
                  <li class="see-all"><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                </ul>
              </li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>

          <li class="has-children">
            <a href="#">Men</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </li>

          <li class="has-children">
            <a href="#">Tops</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#">Lorem ipsum</a></li>
              <li class="see-all"><a href="#">Lorem ipsum</a></a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum &amp; Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Lorem ipsum</a></li>
              <li class="#">
                <a href="#">Lorem ipsum</a></a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#">Lorem ipsum</a></li>
                  <li class="see-all"><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                  <li><a href="#">Lorem ipsum</a></li>
                </ul>
              </li>
              <li><a href="#">Vests</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="has-children">
        <a href="#">Men</a>
        <ul class="cd-nav-gallery is-hidden">
          <li class="go-back"><a href="#">Menu</a></li>
          <li class="see-all"><a href="#" class="ripplelink">Lorem ipsum</a></li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/m1.png' %}" alt="Product Image">
              <h3>Product #1</h3>
            </a>
          </li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/m2.png' %}" alt="Product Image">
              <h3>Product #2</h3>
            </a>
          </li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/m3.png' %}" alt="Product Image">
              <h3>Product #3</h3>
            </a>
          </li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/m4.png' %}" alt="Product Image">
              <h3>Product #4</h3>
            </a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <a href="#">Women</a>
        <ul class="cd-nav-gallery is-hidden">
          <li class="go-back"><a href="#">Menu</a></li>
          <li class="see-all"><a href="#" class="ripplelink">Browse Gallery</a></li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/f1.png' %}" alt="Product Image">
              <h3>Product #1</h3>
            </a>
          </li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/f2.png' %}" alt="Product Image">
              <h3>Product #2</h3>
            </a>
          </li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/f3.png' %}" alt="Product Image">
              <h3>Product #3</h3>
            </a>
          </li>
          <li>
            <a class="cd-nav-item" href="#">
              <img src="{% static 'image/img/f4.png' %}" alt="Product Image">
              <h3>Product #4</h3>
            </a>
          </li>
        </ul>
      </li>
      <li><a href="#">Blog</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'art_profile:add' %}">Sell</a></li>
      {% else %}
      <li><a href="#">Discover</a></li>
      {% endif %}
    </ul>
  </nav>

  <div id="cd-search" class="cd-search">
    <form>
      <input type="search" placeholder="Search...">
    </form>
  </div>

<!-- Main Nav Ends here  -->


   {% block content %}
{% endblock %}


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">
  <h1>Our Partners</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-8 pad-top-20 animatedParent prlzero" data-appear-top-offset='-200' id="contact">
  <div class="container">
    <section class="regular slider">
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>

      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
      <div>
        <div class="brand-image">
          <img src="{% static 'image/dummy-client.png' %}">
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Section 9 Ends here  -->

    <!-- Footer Starts here  -->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pv-footer pad-top-20 animatedParent prlzero">
      <div class="footer-middle-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
              <div class="footer-widget">
                <div class="footer-logo">
                  <img src="{% static 'image/foot-logo.png' %}" alt="foot-logo">
                </div>
                <div class="footer-address">
                  <p>28 Lorem Ipsaum, Street Name<br>New York City, USA</p>

                  <p>TELEPHONE- +56485 58456 585<br>
                    Email-lorem@ipsum.com</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-widget">
                  <h5>Services</h5>
                  <ul>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="about.html">Return Policy</a></li>
                    <li><a href="blog.html">Our Blog</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li class="hidden-sm"><a href="#">Terms &amp; Condition</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-2 hidden-sm col-xs-12">
                <div class="footer-widget">
                  <h5>Account</h5>
                  <ul>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="footer-widget">
                  <h5>Get Social</h5>
                  <p>Connected with our social media and<br>
                    get updates</p>
                    <ul class="social-icon">
                      <li><a href="www.facebook.com" class="ripplelink"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="www.twitter.com" class="ripplelink"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="www.google-plus.com" class="ripplelink"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="www.instagram.com" class="ripplelink"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom-area">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="copyright">
                    <p>2017 ® All Rights Reserved <span><a href="#">Private Village</a></span>.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>

    <!-- Footer Ends here  -->

</div>

<!-- Main Content Ends here -->





<!-- Back to top starts here -->

<a href="#" id="return-to-top" class="ripplelink"><i class="fa fa-hand-o-up" aria-hidden="true"></i></a>

<!-- Back to top ends here -->



<!-- Jquery 2.2.4 -->
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-dropdownhover.min.js' %}"></script>

<!-- Material UI -->
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/material-kit.js' %}"></script>

<!-- Slick slider -->
<script src="{% static 'js/slick.js' %}"></script>


<!-- Custom js -->
<script src="{% static 'js/filter.js' %}"></script>

<script src="{% static 'js/sell.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<!-- Nice Scroll -->
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
{% block extra_js %} {% endblock %}
</body>

</html>
