
{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!--&lt;!&ndash;log in start here&ndash;&gt;-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 account-login">-->
    	<!--<div class="col-md-8 col-md-offset-2">-->
    		<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login-main">-->
    			  <!--<h1>Login</h1>-->
    		  <!--<div class="col-md-6 login-left">-->
    			<!--<h2>Existing User</h2>-->

    			<!--<form action="{% url 'accounts:adminlogin' %}" method="post">-->
					<!--{% csrf_token %}-->

            <!--<div class="field-container prlzero">-->
              <!--&lt;!&ndash;<input type="text" class="field" placeholder="Username" required="">&ndash;&gt;-->
				<!--{{ form.email }}-->
                <!--{{form.errors.email | striptags }}-->
				<!--{{ form.non_field_errors | striptags }}-->
              <!--<label class="floating-label">Email</label>-->
            <!--</div>-->
            <!--<div class="field-container prlzero">-->
              <!--&lt;!&ndash;<input type="password" class="field" placeholder="Password" required="">&ndash;&gt;-->
				<!--{{ form.password }}-->
            <!--{{form.errors.password}}-->
              <!--<label class="floating-label">Password</label>-->
            <!--</div>-->
    				<!--<input type="submit" class="ripplelink hvr-shadow" value="Login">-->
    			<!--</form>-->

    		  <!--</div>-->
    		  <!--<div class="col-md-6 login-right">-->
    		  	 <!--<h3>New User? Create an Account</h3>-->
    		  	 <!--<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system. and expound the actual teachings of the great.</p>-->
    		     <!--<a href="signup.html" class="login-btn ripplelink hvr-shadow">Create an Account </a>-->
    		  <!--</div>-->
    		  <!--<div class="clearfix"> </div>-->
    		<!--</div>-->
    	<!--</div>-->
    <!--</div>-->
    <!--log in end here-->

    <!--log in start here-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 account-login">
    	<div class="col-md-8 col-md-offset-2">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login-main">
    			  <h1>Login</h1>
    		  <div class="col-md-6 login-left">
    			<h2>Existing User</h2>

    			<form action="{% url 'accounts:adminlogin' %}" method="post">
					{% csrf_token %}
            <div class="field-container prlzero">
              <input type="text" class="field" placeholder="Email" name="email" id="id_email" required="">
				{{form.errors.email | striptags }}
				{{ form.non_field_errors | striptags }}
              <label class="floating-label">Username</label>
            </div>
            <div class="field-container prlzero">
              <input type="password" class="field" placeholder="Password" name="password" id="id_password" required="">

            {{form.errors.password}}
              <label class="floating-label">Password</label>
            </div>
    				<input type="submit" class="ripplelink" value="Login">
    			</form>

    		  </div>
    		  <div class="col-md-6 login-right">
    		  	 <h3>New User? Create an Account</h3>
    		  	 <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system. and expound the actual teachings of the great.</p>
    		     <a href="signup.html" class="login-btn ripplelink">Create an Account </a>
    		  </div>
    		  <div class="clearfix"> </div>
    		</div>
    	</div>
    </div>
    <!--log in end here-->

{% endblock %}


