
body{
	min-width: 320px;
	-webkit-text-stroke: 0.01px;
	font-family: 'Open Sans', sans-serif;
}

*:focus {
	outline:0 !important;
}
a:hover,a:focus{
	text-decoration: none;
}
.navbar{
	border: none;
}

.login-con{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #719cfc;
	background: -moz-linear-gradient(top, #719cfc 0%, #5c8efc 100%);
	background: -webkit-linear-gradient(top, #719cfc 0%,#5c8efc 100%);
	background: linear-gradient(to bottom, #719cfc 0%,#5c8efc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#719cfc', endColorstr='#5c8efc',GradientType=0 );
}

.LoginModule{
	position: absolute;
	display: inline-block;
	width: auto;
	min-width: 450px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}
.LoginModule h1{
	color: rgba(255, 255, 255, 1);
	text-align: center;
	margin-bottom: 50px;
	font-size: 26px;
}
.LoginBox{
	min-height: 150px;
	background: rgba(255, 255, 255, 1);
	border-radius: 3px;
	padding: 50px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}
.btn-primary-c{
	color: #fff;
	background: #719cfc;
}
.btn-primary-c:hover{
	color: #fff;
	background: #598cfc;
}
.LoginBox input[type="text"], .LoginBox input[type="email"], .LoginBox input[type="password"]{
	height: 45px;
}


@media screen and (max-width: 450px){
	.LoginModule{
			min-width: 320px;
	}
}

@media screen and (max-width: 350px){
	.LoginModule{
			min-width: 300px;
	}
}


