@charset "utf-8";
/* CSS Document */

/*--login strat here--*/

.account-login {
	padding: 3em 0em;
	background-color: #ccc;
}

.login-main{
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	padding: 40px 15px 40px 15px;
}

.login-main h1 {
	font-size: 2.5em;
	color: #f7c221;
	margin-bottom: 1.4em;
	text-align: center;
}
.login-left h2 {
	font-size: 1.5em;
	color: #847057;
	margin-bottom: 1em;
}
.login-left input[type="text"] {
	font-size: 16px;
	color: #999;
	padding: 0.5em 0em;
	border-bottom: 1px solid #ccc;
	display: block;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-bottom: 1.5em;
	outline: none;
	width:100%;
}
.login-left input[type="password"] {
	font-size: 16px;
	color: #ccc;
	padding: 0.5em 0em;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	width: 100%;
	margin-bottom: 1em;
}
.login-left input[type="submit"] {
	color: #fff;
	background:#f7c221;
	outline: none;
	display: block;
	margin-top: 1em;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2) !important;
}

.login-right h3 {
	font-size: 1.5em;
	color: #847057;
	margin-bottom: 1em;
}
.login-right p {
	font-size: 1em;
	line-height: 1.8em;
	color: #999;
	margin-bottom: 1em;
}
.login-right a {
	color: #fff;
	background:#f7c221;
	display: block;
	margin: 2em 0em 0em 0em;
	width: 200px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2) !important;

}
.login-right a:hover {
	background:#f7c221;
}

/*--login end here--*/

/*--signin start here--*/
.signin {
	padding: 3em 0em;
	background-color: #ccc;
}
.signin-main{
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	padding: 40px 15px 40px 15px;
}
.signin-main h1{
	font-size: 2em;
	color:#f7c221;

	text-align: center;
}
.signin-main h2 {
	font-size: 1.5em;
	color: #847057;
	margin: 1em 0em;

}
.signin-main input[type="text"] {
	font-size: 16px;
	color: #000;
	width: 100%;
	padding: 0.4em 0.5em;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	margin: 1em 2.5em 2em 0em;
}
.signin-main input.no-margin {
	margin: 0px;
}
.signin-main input[type="password"] {
	font-size: 16px;
	color: #000;
	width: 100%;
	padding: 0.4em 0.5em;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	margin: 1em 2.5em 2em 0em;
}
.signin-main input.no-margin {
	margin: 0px;
}
.signin-main input[type="submit"] {
	color: #fff;
	background:#f7c221;
	outline: none;
	float: right;
	margin-top: 2em;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2);

}


/*--signin end here--*/


.field-container {
  position: relative;

}
.field {
  display:block;
  width:100%;
  padding:15px 10px 0;
  border:none;
  font-size:14px;
}
.field:focus {
  outline: 0;
}
.floating-label {
  position:absolute;
  pointer-events:none;
  top: 7px;
  left:-1px;
  font-size: 12px;
  opacity:0;
  background-color: white;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.field:valid + .floating-label {
  opacity:1;
  top:-7px;
  color: #f7c221;
}
.field:focus + .floating-label {
  color: #f7c221;
}

.field-underline {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:-5px;
  border:1px solid #9e9e9e;
  z-index: -1;
  padding:10px 10px 0;
}
.field:focus + .floating-label + .field-underline {
  border-color:#03a9f4;
}

@media (max-width: 991px) {
	.login-right{
		margin-top: 20px;
	}
}
