@charset "utf-8";
/* CSS Document */

html {
}

/* body styles starts here */

body {
	font-family: 'Raleway', sans-serif !important;
	/*font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	background-color: #fff;
	min-width: 320px;
}

/* body styles ends here */


/* General styles starts here */

html, body, p, h1, h2, h3, h4, h5, h6, img, form, input, select, textarea, ul, li {margin: 0;padding: 0;}

:focus {
	outline: none;
}

img {
	border: none;
}

a {
	color:#000;
	text-decoration:none !important;
}

a:hover {
	text-decoration:none;
}

a, a:link, a:visited, input {outline: none;}

/*.clear {
clear: both;
font-size: 0;
line-height: 0;
height: 0;
margin: 0;
padding: 0;
}*/

.vca {
	min-height: 194px;
	float: none;
	margin: auto;
	display: table;
	position: relative;
	z-index: 2;
}
.vca:before {
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.centered {
	display: table-cell;
	vertical-align: middle;
}

::selection {
	color: #fff;
	background: #f7c221;
}

.prlzero {
	padding-left:0px;
	padding-right:0px;
}

.m-tb-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.m-tb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.m-tb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.m-bot-5 {
	margin-bottom: 5px;
}

.m-bot-10 {
	margin-bottom: 10px;
}

.m-bot-15 {
	margin-bottom: 15px;
}

.m-bot-20 {
	margin-bottom: 20px;
}


.p-tb-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.p-tb-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.p-tb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.p-tb-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.p-tb-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.p-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pad-top-10 {
	padding-top: 10px;
}

.pad-top-15 {
	padding-top: 15px;
}

.pad-top-20 {
	padding-top: 20px;
}

.pad-5 {
	padding: 5px;
}

.pad-10 {
	padding: 10px;
}

.pad-15 {
	padding: 15px;
}

.pad-20 {
	padding: 20px;
}

.box-center {
	margin:0 auto;
	text-align: center;
}

.sector {
	width: 100vw;
	height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
	background: pink;
	max-height: 100vh;
	max-width: 177.78vh; /* 16/9 = 1.778 */
	margin: auto;
	position: absolute;
	top:0;bottom:0; /* vertical center */
	left:0;right:0; /* horizontal center */
	min-height: 638px;
}

.sector-title-orange {
	color:#ff9500;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}

.sector-title-white {
	color:#fff;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}

.percent-width {
	width: 100%;
}

.material-shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* General styles ends here */


/* Top Bar Starts Here */

/* top */
#top {
	background: #f7c221;
	color: white;
	font-size: .714em;
	text-transform: uppercase;
}
#top p, #top .nav {
	margin: 0;
}
#top .text-note {
	padding: 18px 0;
}

/* Drop down menu */
.dropdown-menu {
	background: #181818;
	border: none;
	border-radius: 0;
	margin: 0;
}
.dropdown-menu > li > a {
	line-height: 1.6;
	padding: 5px 20px 8px;
	font-size: 12px;
	font-weight: 300px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: transparent;
}
.dropdown-menu h3 {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.list-thumbs-pro .product {
	margin-bottom: 0;
	overflow: hidden;
}
.list-thumbs-pro .product + .product {
	border-top: 1px dotted #282828;
	margin-top: 20px;
	padding-top: 20px;
}
.list-thumbs-pro h4 {
	padding-right: 0;
}
.list-thumbs-pro .product-thumb-info-image {
	float: left;
	margin-bottom: 0;
}
.list-thumbs-pro .product-thumb-info-content {
	padding: 3px 20px 0 75px;
}
.list-thumbs-pro .product-remove {
	float: right;
}

.list-md-pro {
	color: #666666;
}
.list-md-pro .product-thumb-info-content h4 {
	margin-bottom: 15px;
	padding-right: 0;
	text-transform: uppercase;
}

.nav-top > li {
	/*border-right: 1px solid rgba(255, 255, 255, 0.1);*/
}
.nav-top > li > a {
	border-radius: 0 !important;
	color: black !important;
	padding: 18px 15px !important;
	font-weight: 500 !important;
	font-size: 12px !important;
	min-width: 100% !important;
}
.nav-top > li > a .caret {
	color: #999999;
	margin-left: 10px;
}
.nav-top > li > a:hover, .nav-top > li > a:focus {
	background-color: transparent;
}
.nav-top > li:first-child {
	/*border-left: 1px solid rgba(255, 255, 255, 0.1);*/
}
.nav-top > .langs > a {
	padding-left: 20px;
}
.nav-top .dropdown-menu {
	background: rgba(0, 0, 0, 0.8);
}
.nav-top .list-thumbs-pro .product + .product {
	border-top-color: #666666;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
	border-color: transparent;
}

/* menu-shop */
.menu-shop {
	padding-right: 15px;
	position: relative;
}
.menu-shop i {
	font-size: 1.3em !important;
	padding: 0px !important;
	float: right;
}
.menu-shop .dropdown-menu {
	color: white;
	min-width: 415px;
	text-transform: none;
	padding: 20px;
	margin-top: 17px;
}
.menu-shop .dropdown-menu a {
	color: white;
}
.menu-shop .dropdown-menu a:hover, .menu-shop .dropdown-menu a:focus {
	color: #f7c221;
}
.menu-shop .dropdown-menu .item-cat a {
	color: #999999;
}
.menu-shop .dropdown-menu .item-cat a:hover, .menu-shop .dropdown-menu .item-cat a:focus {
	color: #f7c221;
}

.cart-buttons {
	padding-top: 20px;
}
.cart-buttons .btn {
	margin-left: 10px;
}

.cart-subtotals {
	border-top: 1px dotted #666666;
	font-family: 'Raleway', sans-serif !important;
	font-size: 1.071em;
	margin-top: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}

.shopping-bag {
	background-color: #ff5a5a;
	border-radius: 50%;
	color: white;
	display: block;
	font-size: .714em;
	height: 13px;
	line-height: 12px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 10px;
	width: 13px;
}

/* Languages */
.langs .dropdown-menu {
	min-width: 75px;
}
.langs .dropdown-menu > li + li {
	border-top: 1px solid #333333;
}
.langs .dropdown-menu > li > a {
	padding-left: 20px;
	padding-right: 15px;
}

/* My Account */
.my-account .dropdown-menu {
	font-size: 1em;
	padding: 10px 0;
}
.my-account .dropdown-menu > li > a {
	color: white;
}
.my-account .dropdown-menu > li > a:hover, .my-account .dropdown-menu > li > a:focus {
	color: #f7c221;
}

.checkout{
	background: #00C853 none repeat scroll 0 0;
	color: #ffffff !important;
	display: inline-block;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(255, 255, 255, 0.1), 0 4px 25px 0px rgba(255, 255, 255, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}
.checkout:hover {
	background: #f7c221 !important;
}
.view-cart{
	background: #fff none repeat scroll 0 0;
	color: #000 !important;
	display: inline-block;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(255, 255, 255, 0.1), 0 4px 25px 0px rgba(255, 255, 255, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}

.view-cart:hover{
	background: #f7c221 !important;
	color: #fff;
}

.nav-login-btn{
	background: #fff none repeat scroll 0 0;
	color: #000 !important;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(255, 255, 255, 0.1), 0 4px 25px 0px rgba(255, 255, 255, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}
.nav-login-btn:hover{
	background: #f7c221 !important;
	color: #fff;
}



/* Top Bar Ends Here */


/*main banner section starts here*/


.fade-carousel {
	position: relative;
	height: 643px;
}
.fade-carousel .carousel-inner .item {
	height: 643px;
}
.fade-carousel .carousel-indicators > li {
	margin: 0 2px;
	background-color: #f7c221;
	border-color: #f7c221;
	opacity: .7;
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	border-radius: 0px;
}
.fade-carousel .carousel-indicators > li.active {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75);
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.hero h1 {
	font-size: 80px;
	margin: 0;
	padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}

.btn.btn-lg {
	width: 125px;
	line-height: 20px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
	color: #525252;
	background-color: #f7c221;
	outline: none;
	margin: 20px auto;
	border-radius: 0px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2);
}

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
	height: 643px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
	background-image: url(../image/b1.png)
}
.fade-carousel .slides .slide-2 {
	background-image: url(../image/b2.png);
}
.fade-carousel .slides .slide-3 {
	background-image: url(../image/b1.png);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
	.hero { width: 980px; }
}
@media screen and (max-width: 640px){
	.hero h1 { font-size: 4em; }
}


/*main banner section ends here*/

.owl-pagination {
	display: none;
}

#owl-demo .item img{
	display: block;
	width: 100%;
	min-height: auto;
}

/*.owl-item {
width: 1920px !important;
}*/

/*main banner section ends here*/




/*section Black starts here*/

.black-in-mid{
	display: table;
	position: relative;
	background-color: #252525;
	min-height: 194px;
}
.black-in-mid:before{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.black-container{
	color: #fff;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.black-bg1{
	background-image:url(../image/black-bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 194px;
	background-position: center;
}
.black-bg2{
	background-image:url(../image/black-bg2.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 194px;
	background-position: center;
}
.black-bg3{
	background-image:url(../image/black-bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 194px;
	background-position: center;
}
.black-bg4{
	background-image:url(../image/black-bg4.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 194px;
	background-position: center;
}
.black-container h2{
	text-transform: uppercase;
	font-size: 18px;

}
.black-container p{
	font-size: 14px;

}

/*section Black ends here*/


/*section 4 starts here*/
.sec-4-gal{
	position: relative;
	overflow: hidden;
}
.sec-4-gal img{
	position: relative;
	width: 100%;
}
.sec-4-gal h2{
	position: absolute;
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	top: 50%;
	bottom: 0px;
	margin: auto;
	z-index: 1;
	text-transform: uppercase;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	text-align: -webkit-center;
	text-align: -moz-center;

}

.my_flash figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.gal-img{
	height: 393px;
	max-height: 100%;
}
.gal-image-last-pad{
	padding-top: 15px;
}
.sec-4-800 img{
	height: 800px;
	max-height: 100%;
}

/*section 4 ends here*/


/*section 5 starts here*/
.column {

}
.column:last-child {

}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;

	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;

	left: 0;
	z-index: -1;
	display: block;

	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {

	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.sec-5-gal img{
	position: relative;
}
.sec-5-gal h2{
	position: absolute;
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	top: 50%;
	bottom: 0px;
	margin: auto;
	z-index: 1;
	text-transform: uppercase;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	text-align: -webkit-center;
	text-align: -moz-center;
}

/*section 5 ends here*/


/*section 6 starts here*/

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate(460px, -100px) rotate(180deg);
	-ms-transform: translate(460px, -100px) rotate(180deg);
	transform: translate(460px, -100px) rotate(180deg);
	-webkit-transition: all 0.2s 0.4s ease-in-out;
	transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 220px 0 0 0;
	background-color: transparent;
	-webkit-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
	box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.hovereffect:hover a.info {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.sec-6 img{
	width: 100%;
	max-height: 100%;
}

/*section 6 ends here*/



.section-title h1{
	font-size: 50px;
	font-weight: 500;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
	padding: 40px 0px 40px 0px;
}

/*shop-now banner starts here*/
.shop-now-bg{
	background-image:url(../image/shop-now-bg.png);
	min-height: 512px;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 80px 100px 80px;
}

.shop-now-bg h1{
	color: #fff;
	font-size: 50px;
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;
}

.shop-now-button{
	float: right;
	background-color: #f7c221;
	color: #525252;
	margin-top: 5px;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2) !important;

}

/*shop-now banner ends here*/

/*newsletter-box starts here*/

.newsletter-box{
	background-color: #f7c221;
	min-height: 512px;
	padding: 100px 80px 100px 80px;
}

.newsletter-box h1 {
	font-size: 50px;
	color: #525252;
	text-transform: uppercase;
	font-weight: 500;
}

.newsletter-box h6 {
	font-size: 14px;
	color: #525252;
	font-weight: regular;
	padding: 20px 0px 20px 0px;
}

.newsletter-box p {
	font-size: 14px;
	color: #525252;
	font-weight: regular;
	padding: 20px 0px 20px 0px;
}

.nsletter-button{
	background: white;
	color: #525252;
	margin-bottom: 10px;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2) !important;
}

.checkbox label:after,
.radio label:after {
	content: '';
	display: table;
	clear: both;
}

.checkbox .cr,
.radio .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #525252;
	border-radius: .25em;
	width: 1.3em;
	height: 1.3em;
	float: left;
	margin-right: .5em;
}

.radio .cr {
	border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;
	left: 20%;
}

.radio .cr .cr-icon {
	margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
	display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
	opacity: .5;
}

.pad-l-zero{
	padding-left: 0px !important;
}

/*newsletter-box ends here*/


/*designer section starts here*/
.des-min-height{
	min-height: 400px;
	padding: 80px 20px 80px 20px;
}
.des-1{
	background-image:url(../image/designer-miranda.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.des-2{
	background-image:url(../image/designer-christine.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.des-3{
	background-image:url(../image/designer-ashley.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.des-4{
	background-image:url(../image/designer-cathy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.des-min-height h6{
	background: #f7c221;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 2.3px;
	line-height: 20px;
	padding: 4px 18px;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #000;
}

.des-min-height h2{
	font-size: 40px;
	margin-bottom: 0;
	margin-top: 10px;
}

.des-button{
	background: white;
	font-size: 14px;
	color: #000;
	margin-top: 10px;
	min-width: 140px;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 30px;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2) !important;

}
/*designer section ends here*/


/*brand section starts here*/
.brand-image{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-left: auto;
	margin-right: auto;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.brand-image:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*brand section ends here*/

/*footer section starts here*/

.footer-middle-area {
	background: #1e1e1e none repeat scroll 0 0;
	padding-bottom: 83px;
	padding-top: 91px;
}
.footer-widget h5 {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top: 10px;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
}

.footer-widget ul.social-icon li:hover a {
	margin-left: inherit;
}
.footer-icon {
	float: left;
	margin-top: 7px;
}
.single-footer-contact{
	margin-top: 15px;
}
.footer-contact-info{
	display: block;
	margin-left: 30px;
}
.footer-contact-info p, .footer-contact-info p a{
	margin: 0px;
	font-size: 12px;
	color: #ddd;
	line-height: 20px;
}
.footer-contact-info p a:hover{
	color: #b9a745;
}
.home-two .footer-contact-info p a:hover{
	color: #F05166;
}
.footer-widget ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-widget ul li{
	display: block;
}
.footer-widget ul li a{
	color: #ddd;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.footer-widget ul li i{
	color: #ddd;
	font-size: 8px;
	line-height: 20px;
	margin-right: 10px;
}
.footer-widget ul li:hover a{
	color: #f7c221;
	margin-left: 5px;
}
.footer-bottom-area{
	background: #101010;
	padding: 25px 0;
}
.payment.text-right {
	margin-top: 6px;
}
.copyright p {
	color: #ddd;
	font-size: 13px;
	margin: 0;
	padding: 10px 0;
	font-weight: 300;
}
.copyright p span a{
	color: #f7c221;
}
.copyright p span a:hover{
	text-decoration: underline;
}
.footer-bottom-area .payment{
	float: right;
}
.footer-logo {
	margin-bottom: 20px;
}
.footer-address > p, .footer-widget > p {
	color: #ddd;
	font-size: 14px;
	font-weight: 300;
}
.footer-address > p:first-child{
	margin-bottom: 35px;
}
.footer-menu ul li:hover a, .footer-menu ul li.active a{
	color: #b9a745;
}
ul.social-icon{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.social-icon li{
	display: inline-block;
}
ul.social-icon li i{
	font-size: 22px;
	border: 1px solid #DDDDDD;
	width: 36px;
	height: 36px;
	text-align: center;
	padding-top: 7px;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
ul.social-icon li i:hover{
	background: #f7c221;
	color: #fff;
	border: 1px solid #f7c221;
}
.footer-widget > p {
	margin-bottom: 30px;
}
/*footer section ends here*/



/*---- portfolio hover -----*/
.da-thumbs {
	list-style: none;
	position: relative;

	padding: 0;
}
.da-thumbs li {
	/*float: left;*/
	margin: 5px;
	background: #fff;
	padding: 8px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(16, 16, 16, 0.6);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
  text-align: center;
	/*text-transform: uppercase;*/
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}
.pro-up-edit-btn{
  line-height: 30px;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}
.pro-up-edit-btn:hover {
  background-color: rgb(247, 194, 33);
  box-shadow: none;
  border: 1px solid #f7c221;
  transition: .5s ease;
}


@media (max-width: 1366px) {

  .da-thumbs li a div span {
		display: block;
    padding: 0px 0;
    margin: 30px 10px 10px 10px;
		transition: .5s ease;
  }
}

@media (max-width: 1310px) and (min-width : 1170px) {

	.da-thumbs li a div span {
		display: block;
		padding: 0px 0;
		margin: 23px 10px 10px 10px;
		font-size: 12px;
		transition: .5s ease;
	}
}

/*---- portfolio hover -----*/

/* Underline From Center starts here */

.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}

.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #ffd013;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

/* Underline From Center ends here here */


/* Hover Shadow starts here */

.hvr-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/* Hover Shadow ends here */


/* ripple starts here */
.ripplelink{
	display:block;
	text-decoration:none;
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index:0;
}

.ripplelink:hover{
	z-index:1000;
	/*box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;*/
}

.ink {
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
	-moz-animation:ripple 0.65s linear;
	-ms-animation:ripple 0.65s linear;
	-o-animation:ripple 0.65s linear;
	animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
	100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
	100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
	100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}
/* ripple ends here */






/* Back to top starts here */

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgb(247, 194, 33);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: block;
	text-decoration: none;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow: 0 16px 26px -10px rgba(64, 64, 64, 0.1), 0 4px 25px 0px rgba(64, 64, 64, 0.12), 0 8px 10px -5px rgba(64, 64, 64, 0.2) !important;
}

#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 11px;
	top: 11px;
	font-size: 22px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(255, 208, 19, 0.85);
}

#return-to-top:hover i {
	color: #fff;
}

/* Back to top ends here */


/*media queries starts here*/

@media (min-width: 1800px){
	.container {
		width: 1760px !important;
		transition: .5s ease;
	}
}

@media (max-width: 1800px){
	.sec-5-gal h2 {
		font-size: 30px;
		transition: .5s ease;
	}
}

@media (min-width: 1440px){

	.hidden-sec5{
		display: none;
		transition: .5s ease;
	}
}

@media (max-width: 1440px){

	.hidden-sec5{
		display: block;
		transition: .5s ease;
	}

	.sec-5-665{
		display: none;
		transition: .5s ease;
	}
}

@media (max-width: 1300px) and (min-width:1200px){
	.cd-logo img {
		display: block;
		width: 61%;
		margin-top: 7px;
		transition: .5s ease;
	}
}

@media (min-width: 1200px) and (max-width: 1440px){
	.sec-4-800 img {
		height: 615px;
		max-height: 100%;
		transition: .5s ease;
	}
	.gal-img {
		height: 300px;
		max-height: 100%;
		transition: .5s ease;
	}
	.sec-5-665 img{

	}
}


@media (min-width: 1200px){
	.container-fluid {
		padding-left: 80px !important;
		padding-right: 80px !important;
		transition: .5s ease;
	}
}



@media only screen and (max-width: 1200px) {
	.sec-4-800{
		display: none;
	}
	.pzero_1200{
		padding-left: 0px;
		padding-right: 0px;
		transition: .5s ease;
	}
	.gal-image-last-pad {
		padding-top: 0px;
		transition: .5s ease;
	}
	.sec-4-gal h2 {
		font-size: 35px;
		transition: .5s ease;
	}
	.hovereffect a.info {
		margin: 109px 0 0 0;
	}
	.cd-logo {
		top: 11px;
		left: 2.5em;
		transition: .5s ease;
	}
	.cd-header-buttons {
		top: 18px;
		right: 1.5em;
	}
	.black-bg4 {
		border-top: 1px dashed #4e4e4e;
		transition: .5s ease;
	}
	.black-bg3 {
		border-right: 1px dashed #4e4e4e;
		border-top: 1px dashed #4e4e4e;
	}
	.black-bg1 {
		border-right: 1px dashed #4e4e4e;
	}
}


@media (max-width: 991px) {

	.sec-5-665{
		display: none;
		transition: .5s ease;
	}
	.sec-5-gal img {
		width: 100%;
	}
	.cd-header {
		height: 100px;
		transition: .5s ease;
	}
	.cd-header h1 {
		line-height: 100px;
		transition: .5s ease;
	}
}


@media (max-width: 768px) {

	.pzero {
		padding-left:0px;
		padding-right:0px;
	}
	.owl-theme .owl-controls{
		display: block !important;
	}
	.container-fluid {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.gal-img {
		margin-top: 10px;
	}
	.black-bg1 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.black-bg2 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.black-bg3 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.black-bg4 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.section-title h1 {
		font-size: 35px;
		padding: 20px 0px 20px 0px;
		transition: .5s ease;
	}
	.shop-now-bg {
		min-height: 340px;
		padding: 60px 15px 60px 15px;
	}
	.shop-now-bg h1 {
		font-size: 40px;
		text-align: center;
		transition: .5s ease;
	}
	.shop-now-button {
		float: none;
		text-align: -webkit-center;
		text-align: -moz-center;
		margin: 0 auto;
		display: block;
		margin-top: 10px;
		transition: .5s ease;
	}
	.newsletter-box {
		background-color: #f7c221;
		min-height: auto;
		padding: 30px 15px 30px 15px;
		transition: .5s ease;
	}
	.footer-middle-area {
		background: #1e1e1e none repeat scroll 0 0;
		padding: 20px 0px 20px 0px;
	}

	.file-upload {
		background-color: #ffffff;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
	}

	.nav-top {
		display: inline-block;
	}
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}

	.nav-top.navbar-right {
		float: right;
	}

	.navbar-right .dropdown-menu {
		left: auto;
		right: -1px;
	}

	.navbar-act > li {
		float: left;
	}
	ul.dropdown-menu.dropdownhover-bottom {
		margin-top: 4px;
	}

	.nav-top .dropdown-menu {
		margin-top: 4px;
	}

	.menu-shop .dropdown-menu {
	    margin-top: 21px !important;
	}

}


@media (max-width: 640px) {


}

@media (max-width: 600px) {

}

@media (max-width: 575px) {

}


@media (max-width: 550px) {
	.gal-img {
		height: 345px;
		max-height: 100%;
	}
}


@media (max-width: 480px) {
	.language-usd > ul > li a, .account-cart > ul > li a {
		padding: 20px 8px;
	}

	.sec-4-gal h2 {
		font-size: 25px;
		transition: .5s ease;
	}
	.black-bg1 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.black-bg2 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.black-bg3 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.black-bg4 {
		background-size: cover;
		min-height: 194px !important;
		background-position: center;
		transition: .5s ease;
	}
	.section-title h1 {
		font-size: 25px;
		padding: 20px 0px 20px 0px;
		transition: .5s ease;
	}
	.sec-5-gal h2 {
		font-size: 25px;
		transition: .5s ease;
	}
	.newsletter-box {
		text-align: -webkit-center;
		text-align: -moz-center;
		transition: .5s ease;
	}
	.des-min-height {
		min-height: auto;
		padding: 15px 15px 15px 15px;
		transition: .5s ease;
	}
	.des-button {
		line-height: 28px;
		width: 120px;
		font-size: 12px;
		margin-top: 10px;
		transition: .5s ease;
		background-color: rgba(255, 255, 255, 0.7);
	}
	.des-min-height h6 {
		background: rgba(0, 0, 0, 0.5);
		display: block;
		font-size: 12px;
		text-align: -webkit-center;
		text-align: -moz-center;
		color: #fff;
		transition: .5s ease;
	}
	.des-min-height{
		text-align: -webkit-left;
		transition: .5s ease;
	}
	.black-container h2 {
		font-size: 14px;
		transition: .5s ease;
	}
	.black-container p {
		font-size: 12px;
		transition: .5s ease;
	}
	.cart p {
		right: 0px;
		transition: .5s ease;
	}
	.wizard {
		padding: 15px 15px;
		transition: .5s ease;
	}
	.cd-header {
		height: 54px;
		transition: .5s ease;
	}
	.cd-header h1 {
		line-height: 54px;
		font-size: 20px;
		transition: .5s ease;
	}
}

@media (max-width: 390px) {

	.gal-img {
		height: 300px;
		max-height: 100%;
		transition: .5s ease;
	}

	.hovereffect a.info {
		padding: 6px 7px;
		font-size: 12px;
	}
	.newsletter-box h1 {
		font-size: 25px;
		transition: .5s ease;
	}
	.newsletter-box p {
		padding: 0px 0px 20px 0px;
		transition: .5s ease;
	}
	.cd-logo {
		top: 11px;
		left: 1.5em;
		transition: .5s ease;
	}
	.cd-logo img {
		display: block;
		width: 60%;
		margin-top: 10px;
		transition: .5s ease;
	}
	.menu-shop .dropdown-menu {
		min-width: 300px;
	}
	.login .dropdown-menu {
		right: -112px !important;
	}
}
