{% load static %}
<link href="{% static 'css/jquery.tokenize.css' %}" rel="stylesheet">

  <div class="form-group label-floating multitag">
      <label class="control-label">Add Tag</label>
  <select class="multi_select portfolio_dropdown " name="tags" id="id_tags"  multiple="multiple">
       {% for tag in tags %}
    <option value="{{ tag.id }}">{{tag.tag}}</option>

      {% endfor %}
  </select>
  </div>

  <script src="{% static 'js/jquery.tokenize.js' %}"></script>

<script>
// multiselect

$('.multi_select').tokenize({
   displayDropdownOnFocus: true,
   placeholder: "Enter details ",
});

</script>